# 연습문제 : 작업형 1
## 01.

In [1]:
import pandas as pd
import numpy as np

In [4]:
# 데이터프레임 불러오기
car93 = pd.read_csv("../data/연습문제/Cars93.csv")
car93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [6]:
# 컬럼 값 확인
car93.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [8]:
car93.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Model               93 non-null     object
 2   Type                93 non-null     object
 3   Min_Price           93 non-null     float64
 4   Price               84 non-null     float64
 5   Max_Price           93 non-null     float64
 6   MPG_city            93 non-null     int64
 7   MPG_highway         93 non-null     int64
 8   AirBags             59 non-null     object
 9   DriveTrain          93 non-null     object
 10  Cylinders           93 non-null     object
 11  EngineSize          93 non-null     float64
 12  Horsepower          93 non-null     int64
 13  RPM                 89 non-null     float64
 14  Rev_per_mile        93 non-null     int64
 15  Man_trans_avail     93 non-null     object
 16  Fuel_tank_capacity  93 non-null     float64
 17  Passengers          93 non-null     int64
 18  Length              93 non-null     int64
 19  Wheelbase           93 non-null     int64
 20  Width               93 non-null     int64
 21  Turn_circle         80 non-null     float64
 22  Rear_seat_room      91 non-null     float64
 23  Luggage_room        82 non-null     float64
 24  Weight              93 non-null     int64
 25  Origin              93 non-null     object
 26  Unnamed: 26         93 non-null     int64
 27  Make                93 non-null     object
dtypes: float64(9), int64(10), object(9)
memory usage: 20.5+ KB

In [10]:
# Wheelbase 칼럼만 따로 저장
wheelbase = car93['Wheelbase']
wheelbase.head()

0    102
1    115
2    102
3    106
4    109
Name: Wheelbase, dtype: int64

In [11]:
# wheelbase의 평균
wheelbase_avg = wheelbase.mean()
wheelbase_avg

103.98924731182795

In [12]:
# wheelbase의 표준편차
wheelbase_std = wheelbase.std()
wheelbase_std

7.389026269401885

In [18]:
# 평균에서 표준편차의 1.5배 더하거나 빼기
# == 구간의 하한(lower)와 상한(upper)
lower1 = wheelbase_avg - wheelbase_std * 1.5
upper1 = wheelbase_avg + wheelbase_std * 1.5

In [19]:
# 구간 내 데이터들의 평균
avg1 = wheelbase[ (wheelbase > lower1) & (wheelbase < upper1) ].mean()
avg1

103.69411764705882

In [20]:
# 원래의 데이터 평균에서 빼기
case1 = wheelbase_avg - avg1
case1

0.29512966476913505

In [21]:
# 같은 방법으로 2배인 경우 실행
lower2 = wheelbase_avg - wheelbase_std * 2
upper2 = wheelbase_avg + wheelbase_std * 2

avg2 = wheelbase[ (wheelbase > lower2) & (wheelbase < upper2) ].mean()

case2 = wheelbase_avg - avg2
case2

0.17813620071683545

In [22]:
# 같은 방법으로 2.5배인 경우 실행
lower3 = wheelbase_avg - wheelbase_std * 2.5
upper3 = wheelbase_avg + wheelbase_std * 2.5

avg3 = wheelbase[ (wheelbase > lower3) & (wheelbase < upper3) ].mean()

case3 = wheelbase_avg - avg3
case3

0.011225333805981563

In [27]:
# 차이들의 합 (소수 다섯 째 자리에서 반올림 -> 4자리까지)
total = round(case1 + case2 + case3, 4)
total

0.4845

## 02.

In [32]:
import pandas as pd
import numpy as np

In [33]:
car93 = pd.read_csv("../data/연습문제/Cars93.csv")
car93.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [40]:
# Length의 순위
rank = car93['Length'].rank(method='average')  # '단, 동점은 동일한 순위를 부여하되 평균내어 등수를 산정하며 최솟값을 1위로 함
rank

0     32.5
1     75.5
2     40.5
3     71.5
4     54.0
      ...
88    56.0
89    40.5
90     4.0
91    65.0
92    50.0
Name: Length, Length: 93, dtype: float64

In [42]:
# 1위부터 30위까지만 추출
rank30 = car93['Length'][rank <= 30]
rank30

22    174
23    172
25    175
28    174
30    141
31    171
35    176
38    151
39    164
40    175
41    173
43    168
44    172
45    166
52    164
53    172
56    169
57    175
59    166
61    172
63    170
71    173
78    176
79    146
80    175
82    161
83    162
84    174
87    163
90    159
Name: Length, dtype: int64

In [43]:
# rank30의 표준편차
rank30_std = rank30.std()
rank30_std

8.884249268085135

In [45]:
# 소수 셋째점 자리까지 반올림
result = round(rank30_std, 3)
result

8.884

## 03.

In [3]:
import pandas as pd

In [4]:
df3 = pd.read_csv("../data/연습문제/Cars93.csv")
df3.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [5]:
df3.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [6]:
# Max_Price를 내림차순으로 정렬
maxPrice = df3['Max_Price'].sort_values(ascending=False, ignore_index=True)
maxPrice.head()

0    80.0
1    50.4
2    44.6
3    42.7
4    41.5
Name: Max_Price, dtype: float64

In [19]:
minPrice = df3['Min_Price'].sort_values(ignore_index=True)  # 오름차순은 ascending = True (default)
minPrice.head()

0    6.7
1    6.8
2    6.9
3    7.3
4    7.3
Name: Min_Price, dtype: float64

In [21]:
# 차이 계산
# 메소드 sort_values()에 ignore_index = True를 하지 않은 경우 정렬과 무관하게 정렬 전의 인덱스가 같은 값들끼리 차이를 계산하게 됨
diff = maxPrice - minPrice
diff

0     73.3
1     43.6
2     37.7
3     35.4
4     34.2
      ...
88   -25.1
89   -25.2
90   -28.3
91   -34.7
92   -37.5
Length: 93, dtype: float64

In [22]:
# 차이에 대한 표준편차
diff_sd = diff.std()
diff_sd

18.584087043963095

In [23]:
# 결과를 result 변수에 할당
result = round(diff_sd, 3)
result

18.584

## 04.

In [24]:
import pandas as pd

In [26]:
df4 = pd.read_csv("../data/연습문제/Cars93.csv")
df4.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [27]:
# Weight 칼럼만 따로 저장
weight = df4['Weight']
weight

0     2705
1     3560
2     3375
3     3405
4     3640
      ...
88    3960
89    2985
90    2810
91    2985
92    3245
Name: Weight, Length: 93, dtype: int64

In [32]:
# Min-Max 정규화
weight_std = (weight - min(weight)) / (max(weight) - min(weight))
weight_std

0     0.375212
1     0.536259
2     0.501413
3     0.507063
4     0.551328
        ...
88    0.611603
89    0.427953
90    0.394990
91    0.427953
92    0.476926
Name: Weight, Length: 93, dtype: float64

In [37]:
# 0.5보다 작은 weight의 분산
var_under = weight_std[weight_std < 0.5].var()
var_under

0.007551738240220801

In [38]:
# 0.5보다 큰 weight의 분산
var_over = weight_std[weight_std > 0.5].var()
var_over

0.007002313404854487

In [40]:
# 차이 계산
diff = abs(var_over - var_under)
diff

0.0005494248353663141

In [41]:
# 결과를 result 변수에 할당
result = round(diff, 3)
result

0.001

## 05.

In [42]:
import pandas as pd

In [43]:
# 데이터셋 가져오기
df5 = pd.read_csv('../data/연습문제/Cars93.csv')
df5.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [68]:
# Manufacturer-Origin 조합의 유일값만 남기기
uni = df5[ ['Manufacturer', 'Origin'] ].drop_duplicates()
uni.head()

  Manufacturer   Origin
0        Acura  non-USA
2         Audi  non-USA
4          BMW  non-USA
5        Buick      USA
9     Cadillac      USA

In [69]:
# Manufacturer 컬럼 앞 두글자만 추출한 결과와 Origin과 유일값 조합의 수
df5['sub_str'] = df5['Manufacturer'].str[:2]
df5['sub_str']

0     Ac
1     Ac
2     Au
3     Au
4     BM
      ..
88    Vo
89    Vo
90    Vo
91    Vo
92    Vo
Name: sub_str, Length: 93, dtype: object

In [70]:
# sub_str-Origin 조합의 유일값만 남기기
uni_2 = df5[ ['sub_str', 'Origin'] ].drop_duplicates()
uni_2.head()

  sub_str   Origin
0      Ac  non-USA
2      Au  non-USA
4      BM  non-USA
5      Bu      USA
9      Ca      USA

In [76]:
uniNum = uni.shape
uni2Num = uni_2.shape
(uniNum, uni2Num)

((32, 2), (28, 2))

In [79]:
result = uniNum[0] - uni2Num[0]
result

4

## 06.

In [80]:
import pandas as pd

In [83]:
df6 = pd.read_csv('../data/연습문제/Cars93.csv')
df6.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [84]:
df6.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [ ]:
'Type''Man_trans_avail' -> 그룹바이 'RPM' -> 합계, 중앙값
중앙값 - (합계/레코드 수)

In [85]:
selected = df6[ ['Type', 'Man_trans_avail', 'RPM'] ]
selected.head()

      Type Man_trans_avail     RPM
0    Small             Yes  6300.0
1  Midsize             Yes  5500.0
2  Compact             Yes  5500.0
3  Midsize             Yes  5500.0
4  Midsize             Yes  5700.0

In [95]:
# 그룹별 RPM 수
num_RPM = selected.groupby(by=['Type', 'Man_trans_avail'])['RPM'].count()
num_RPM

Type     Man_trans_avail
Compact  No                  2
         Yes                14
Large    No                 11
Midsize  No                 13
         Yes                 8
Small    Yes                20
Sporty   Yes                13
Van      No                  5
         Yes                 3
Name: RPM, dtype: int64

In [96]:
# 그룹별 RPM 합계
sum_RPM = selected.groupby(by=['Type', 'Man_trans_avail'])['RPM'].sum()
sum_RPM

Type     Man_trans_avail
Compact  No                  11000.0
         Yes                 74800.0
Large    No                  51400.0
Midsize  No                  66900.0
         Yes                 44500.0
Small    Yes                113100.0
Sporty   Yes                 70100.0
Van      No                  23600.0
         Yes                 14300.0
Name: RPM, dtype: float64

In [97]:
# 그룹별 RPM 중앙값
median_RPM = selected.groupby(by=['Type', 'Man_trans_avail'])['RPM'].median()
median_RPM

Type     Man_trans_avail
Compact  No                 5500.0
         Yes                5450.0
Large    No                 4800.0
Midsize  No                 5200.0
         Yes                5500.0
Small    Yes                5650.0
Sporty   Yes                5500.0
Van      No                 4800.0
         Yes                4800.0
Name: RPM, dtype: float64

In [98]:
# 그룹별 중앙값 - (그룹별 합계/레코드 수) <= 이걸 계산 한 후 모든 원소의 함
cal = sum(median_RPM - ( sum_RPM / num_RPM) )
cal

441.7873792873788

In [99]:
# 결과를 result 변수에 할당
result = round(cal, 0)
result

442.0

## 07.

In [100]:
import pandas as pd

In [101]:
df7 = pd.read_csv('../data/연습문제/Cars93.csv')
df7.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [105]:
selected = df7[ ['RPM', 'Wheelbase'] ]
selected.head()

      RPM  Wheelbase
0  6300.0        102
1  5500.0        115
2  5500.0        102
3  5500.0        106
4  5700.0        109

In [106]:
selected['RPM'].isnull().sum()

4

In [107]:
# RPM 컬럼 결측치를 평균으로 대체
avg = selected['RPM'].mean()
avg

5277.528089887641

In [108]:
selected['RPM'] = selected['RPM'].fillna(avg)
selected['RPM'].isnull().sum()

C:\Users\kbr_u\AppData\Local\Temp\ipykernel_15476\1342360772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected['RPM'] = selected['RPM'].fillna(avg)

0

In [115]:
# RPM 컬럼 z-점수 표준화
RPM_std = ((selected['RPM'] - selected['RPM'].mean()) / selected['RPM'].std() )
RPM_std

0     1.733955
1     0.377278
2     0.377278
3     0.377278
4     0.716447
        ...
88   -1.318568
89    0.886032
90    0.886032
91    0.207693
92    1.564370
Name: RPM, Length: 93, dtype: float64

In [116]:
# Wheelbase 컬럼 z-점수 표준화
wheelbase_std = (selected['Wheelbase'] - selected['Wheelbase'].mean()) / selected['Wheelbase'].std()
wheelbase_std

0    -0.269216
1     1.490149
2    -0.269216
3     0.272127
4     0.678134
        ...
88    1.490149
89   -0.133881
90   -0.945896
91    0.001455
92    0.136791
Name: Wheelbase, Length: 93, dtype: float64

In [117]:
# 표준화된 Wheelbase에 상수 -36을 곱한 값과 표준화된 RPM 변수의 차이
diff = wheelbase_std * (-36) - RPM_std
diff

0      7.957837
1    -54.022655
2      9.314514
3    -10.173846
4    -25.129285
        ...
88   -52.326809
89     3.933670
90    33.166209
91    -0.260082
92    -6.488848
Length: 93, dtype: float64

In [118]:
# diff의 표준편차
diff_sd = diff.std()
diff_sd

35.5607478039925

In [119]:
# 결과를 result 변수에 할당
result = round(diff_sd, 3)
result

35.561

## 08.

In [157]:
import pandas as pd
import numpy as np

In [130]:
df8 = pd.read_csv('../data/연습문제/Cars93.csv')

In [135]:
df8.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [159]:
# 필요한 컬럼 선택
selected = df8[ ['Price', 'Origin', 'Max_Price', 'Min_Price'] ]
selected.head()

   Price   Origin  Max_Price  Min_Price
0   15.9  non-USA       18.8       12.9
1   33.9  non-USA       38.7       29.2
2   29.1  non-USA       32.3       25.9
3    NaN  non-USA       44.6       30.8
4    NaN  non-USA       36.2       23.7

In [160]:
# Price 컬럼의 null 개수 확인
selected['Price'].isnull().sum()

9

In [161]:
# Case1: Price 컬럼의 평균값 계산 -> null값을 avg로 채우기
avg = selected['Price'].mean()
case1 = selected.copy()
case1['Price'] = selected['Price'].fillna(avg)

In [162]:
# Max_Price 변수와 Min_Price의 평균구하기
avg_maxmin = case1[ ['Max_Price', 'Min_Price'] ].mean(axis=1)
avg_maxmin.head()

0    15.85
1    33.95
2    29.10
3    37.70
4    29.95
dtype: float64

In [163]:
# 평균보다 작은 레코드만 추출
case1 = case1[case1['Price'] < avg_maxmin]
case1

        Price   Origin  Max_Price  Min_Price
1   33.900000  non-USA       38.7       29.2
3   19.047619  non-USA       44.6       30.8
4   19.047619  non-USA       36.2       23.7
5   15.700000      USA       17.3       14.2
7   23.700000      USA       24.9       22.6
8   19.047619      USA       26.3       26.3
13  15.100000      USA       16.8       13.4
16  16.600000      USA       18.6       14.7
18  38.000000      USA       41.5       34.6
21  19.047619      USA       29.5       29.5
22   9.200000      USA       10.6        7.9
27  19.047619      USA       33.1       18.5
29  19.300000      USA       21.2       17.5
31  10.100000      USA       11.9        8.4
37  19.047619      USA       21.7       20.1
40  19.800000  non-USA       22.7       17.0
41  12.100000  non-USA       15.8        8.4
45  10.000000  non-USA       11.0        9.1
53  11.600000  non-USA       12.3       10.9
55  19.100000  non-USA       21.7       16.6
57  31.900000  non-USA       34.9       29.0
59  14.100000      USA       15.0       13.3
62  26.100000  non-USA       29.9       22.4
69  19.047619      USA       19.5       19.5
72   9.000000      USA        9.9        8.2
73  11.100000      USA       12.8        9.4
77  28.700000  non-USA       37.1       20.3
82   8.600000  non-USA       10.0        7.3
86  22.700000  non-USA       26.6       18.9

In [164]:
# Origin 그룹별 Price의 합계
sum1 = case1.groupby('Origin')['Price'].sum()
sum1

Origin
USA        277.138095
non-USA    262.595238
Name: Price, dtype: float64

In [165]:
# Case2: Price 컬럼의 결측치를 중앙값으로 대체
mid = selected['Price'].median()
case2 = selected.copy()
case2['Price'] = case2['Price'].fillna(mid)

In [166]:
# Min_Price 컬럼의 제 3사분위수 계산
q3 = case2['Min_Price'].quantile(.75)
q3

20.3

In [167]:
# Price가 q3보다 작은 데이터프레임만 추출
case2 = case2[case2['Price'] < q3]
case2

    Price   Origin  Max_Price  Min_Price
0   15.90  non-USA       18.8       12.9
3   16.55  non-USA       44.6       30.8
4   16.55  non-USA       36.2       23.7
5   15.70      USA       17.3       14.2
8   16.55      USA       26.3       26.3
..    ...      ...        ...        ...
84  18.40  non-USA       22.6       14.2
85  18.20  non-USA       21.2       15.2
87   9.10  non-USA        9.5        8.7
88  19.70  non-USA       22.7       16.6
89  20.00  non-USA       22.4       17.6

[69 rows x 4 columns]

In [168]:
# Origin 그룹별 Price의 합계
sum2 = case2.groupby('Origin')['Price'].sum()
sum2

Origin
USA        579.70
non-USA    424.35
Name: Price, dtype: float64

In [169]:
# 두 결과를 합한 후 가장 큰 원소
max_value = max(sum1 + sum2)

In [170]:
# 결과를 result 변수에 할당
result = int(max_value)
result

856

## 09.

In [171]:
import pandas as pd
import numpy as np

In [173]:
df9 = pd.read_csv('../data/연습문제/Cars93.csv')
df9.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [182]:
# 필요한 칼럼을 시리즈로 별도 저장
price = df9['Price'].copy()
max_price = df9['Max_Price'].copy()
min_price = df9['Min_Price'].copy()
df_type = df9['Type'].copy()

In [184]:
# Price 컬럼이 결측인 조건
condNa = price.isna()
condNa

0     False
1     False
2     False
3      True
4      True
      ...
88    False
89    False
90    False
91    False
92    False
Name: Price, Length: 93, dtype: bool

In [186]:
# Price가 결측치인 경우에 Min_Price와 Max_Price의 평균값 넣기
price[condNa] = (max_price[condNa] + min_price[condNa]) / 2
price

0     15.90
1     33.90
2     29.10
3     37.70
4     29.95
      ...
88    19.70
89    20.00
90    23.30
91    22.70
92    26.70
Name: Price, Length: 93, dtype: float64

In [190]:
# Price가 14.7보다 작거나 25.3보다 크면서 'Large' 타입인 레코드 수
cond1 = price < 14.7
cond2 = (price > 25.3) & (df_type == "Large")
cond = cond1 | cond2

In [194]:
result = df9[cond]
result.shape

(35, 28)

In [195]:
# 레코드 수
result.shape[0]

35

## 10.

In [197]:
import pandas as pd
import numpy as np

In [198]:
# 데이터 불러오기
df10 = pd.read_csv('../data/연습문제/Cars93.csv')

In [199]:
df10.columns

Index(['Manufacturer', 'Model', 'Type', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Unnamed: 26', 'Make'],
      dtype='object')

In [200]:
# 필요한 칼럼만 가져오기
selected = df10[ ['Make', 'AirBags'] ]
selected.head()

            Make             AirBags
0  Acura Integra                 NaN
1   Acura Legend  Driver & Passenger
2        Audi 90         Driver only
3       Audi 100  Driver & Passenger
4       BMW 535i         Driver only

In [201]:
make = selected['Make'].copy()
airbags = selected['AirBags'].copy()

In [202]:
make.unique()

array(['Acura Integra', 'Acura Legend', 'Audi 90', 'Audi 100', 'BMW 535i',
       'Buick Century', 'Buick LeSabre', 'Buick Roadmaster',
       'Buick Riviera', 'Cadillac DeVille', 'Cadillac Seville',
       'Chevrolet Cavalier', '  Chevrolet Corsica', 'Chevrolet Camaro',
       'Chevrolet Lumina', 'Chevrolet Lumina_APV', '  Chevrolet Astro',
       'Chevrolet Caprice', 'Chevrolet Corvette', 'Chrylser Concorde',
       'Chrysler LeBaron', 'Chrysler Imperial', 'Dodge Colt',
       'Dodge Shadow', 'Dodge Spirit', 'Dodge Caravan', 'Dodge Dynasty',
       'Dodge Stealth', 'Eagle Summit', 'Eagle Vision', 'Ford Festiva',
       'Ford Escort', 'Ford Tempo', 'Ford Mustang', 'Ford Probe',
       'Ford Aerostar', 'Ford Taurus', 'Ford Crown_Victoria', 'Geo Metro',
       'Geo Storm', 'Honda Prelude', 'Honda Civic', 'Honda Accord',
       'Hyundai Excel', 'Hyundai Elantra', 'Hyundai Scoupe',
       'Hyundai Sonata', 'Infiniti Q45', 'Lexus ES300', 'Lexus SC300',
       'Lincoln Continental', 'Lincoln Town_Car', 'Mazda 323',
       'Mazda Protege', 'Mazda 626', 'Mazda MPV', 'Mazda RX-7',
       'Mercedes-Benz 190E', 'Mercedes-Benz 300E', 'Mercury Capri',
       'Mercury Cougar', 'Mitsubishi Mirage', 'Mitsubishi Diamante',
       'Nissan Sentra', 'Nissan Altima', 'Nissan Quest', 'Nissan Maxima',
       'Oldsmobile Achieva', 'Oldsmobile Cutlass_Ciera',
       'Oldsmobile Silhouette', 'Oldsmobile Eighty-Eight',
       'Plymouth Laser', '  Pontiac LeMans', 'Pontiac Sunbird',
       '    Pontiac Firebird', 'Pontiac Grand_Prix', 'Pontiac Bonneville',
       'Saab 900', 'Saturn SL', 'Subaru Justy', 'Subaru Loyale',
       'Subaru Legacy', 'Suzuki Swift', 'Toyota Tercel', 'Toyota Celica',
       'Toyota Camry', 'Toyota Previa', 'Volkswagen Fox',
       'Volkswagen Eurovan', 'Volkswagen Passat', 'Volkswagen Corrado',
       'Volvo 240', 'Volvo 850'], dtype=object)

In [203]:
# 제조사가 'Chevrolet', 'Pontiac', 'Hyundai'로 시작해야 함
# 우선 공백 제거
make = make.str.strip()
make.unique()

array(['Acura Integra', 'Acura Legend', 'Audi 90', 'Audi 100', 'BMW 535i',
       'Buick Century', 'Buick LeSabre', 'Buick Roadmaster',
       'Buick Riviera', 'Cadillac DeVille', 'Cadillac Seville',
       'Chevrolet Cavalier', 'Chevrolet Corsica', 'Chevrolet Camaro',
       'Chevrolet Lumina', 'Chevrolet Lumina_APV', 'Chevrolet Astro',
       'Chevrolet Caprice', 'Chevrolet Corvette', 'Chrylser Concorde',
       'Chrysler LeBaron', 'Chrysler Imperial', 'Dodge Colt',
       'Dodge Shadow', 'Dodge Spirit', 'Dodge Caravan', 'Dodge Dynasty',
       'Dodge Stealth', 'Eagle Summit', 'Eagle Vision', 'Ford Festiva',
       'Ford Escort', 'Ford Tempo', 'Ford Mustang', 'Ford Probe',
       'Ford Aerostar', 'Ford Taurus', 'Ford Crown_Victoria', 'Geo Metro',
       'Geo Storm', 'Honda Prelude', 'Honda Civic', 'Honda Accord',
       'Hyundai Excel', 'Hyundai Elantra', 'Hyundai Scoupe',
       'Hyundai Sonata', 'Infiniti Q45', 'Lexus ES300', 'Lexus SC300',
       'Lincoln Continental', 'Lincoln Town_Car', 'Mazda 323',
       'Mazda Protege', 'Mazda 626', 'Mazda MPV', 'Mazda RX-7',
       'Mercedes-Benz 190E', 'Mercedes-Benz 300E', 'Mercury Capri',
       'Mercury Cougar', 'Mitsubishi Mirage', 'Mitsubishi Diamante',
       'Nissan Sentra', 'Nissan Altima', 'Nissan Quest', 'Nissan Maxima',
       'Oldsmobile Achieva', 'Oldsmobile Cutlass_Ciera',
       'Oldsmobile Silhouette', 'Oldsmobile Eighty-Eight',
       'Plymouth Laser', 'Pontiac LeMans', 'Pontiac Sunbird',
       'Pontiac Firebird', 'Pontiac Grand_Prix', 'Pontiac Bonneville',
       'Saab 900', 'Saturn SL', 'Subaru Justy', 'Subaru Loyale',
       'Subaru Legacy', 'Suzuki Swift', 'Toyota Tercel', 'Toyota Celica',
       'Toyota Camry', 'Toyota Previa', 'Volkswagen Fox',
       'Volkswagen Eurovan', 'Volkswagen Passat', 'Volkswagen Corrado',
       'Volvo 240', 'Volvo 850'], dtype=object)

In [206]:
# 제조사가 'Chevrolet', 'Pontiac', 'Hyundai'로 시작 
cond1 = make.str.startswith(('Chevrolet', 'Pontiac', 'Hyundai'))

In [210]:
# AriBags이 Driver에만 있는 경우
airbags.unique()

array([nan, 'Driver & Passenger', 'Driver only'], dtype=object)

In [211]:
cond2 = (airbags == 'Driver only')

In [212]:
# 결과를 result 변수에 할당
result = sum(cond1 & cond2)
result

3

## 11.

In [213]:
import pandas as pd
import numpy as np

In [215]:
# 데이터 불러오기
df11 = pd.read_csv('../data/연습문제/Rabbit.csv')
df11.head()

   BPchange    Dose Run Treatment Animal
0       0.5    6.25  C1   Control     R1
1       4.5   12.50  C1   Control     R1
2      10.0   25.00  C1   Control     R1
3      26.0   50.00  C1   Control     R1
4      37.0  100.00  C1   Control     R1

In [216]:
# 데이터 정보 확인
print(df11.shape)
print(df11.columns)

(60, 5)
Index(['BPchange', 'Dose', 'Run', 'Treatment', 'Animal'], dtype='object')

In [220]:
# Dose 칼럼의 제3사분위수와 제2사분위수 저장
q3 = df11['Dose'].quantile(.75)
q2 = df11['Dose'].quantile(.5)    # 또는 .median()
q3, q2

(100.0, 37.5)

In [221]:
# 두 값의 차이의 절댓값
diff = abs(q3 - q2)
diff

62.5

In [222]:
# 결과를 result 변수에 할당
result = int(diff)
result

62

## 12.

In [223]:
import pandas as pd
import numpy as np

In [239]:
# 데이터셋 불러오기
df12 = pd.read_csv('../data/연습문제/Boston.csv')
df12.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [240]:
# 데이터 확인
print(df12.shape)
print(df12.columns)

(506, 14)
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [241]:
# medv 값 확인
print("최댓값: ", max(df12['medv']))
print("최솟값: ", min(df12['medv']))

최댓값:  50.0
최솟값:  5.0

In [242]:
# 폭 10을 기준으로 binning
medvBinning = pd.cut(df12['medv'], bins = [0, 10, 20, 30, 40, 50])
medvBinning

0      (20, 30]
1      (20, 30]
2      (30, 40]
3      (30, 40]
4      (30, 40]
         ...
501    (20, 30]
502    (20, 30]
503    (20, 30]
504    (20, 30]
505    (10, 20]
Name: medv, Length: 506, dtype: category
Categories (5, interval[int64, right]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < (40, 50]]

In [243]:
# 가장 많은 빈도를 가지는 구간 산출
mode = medvBinning.value_counts().idxmax()
mode

Interval(20, 30, closed='right')

In [244]:
cond = (medvBinning == mode)
cond

0       True
1       True
2      False
3      False
4      False
       ...
501     True
502     True
503     True
504     True
505    False
Name: medv, Length: 506, dtype: bool

In [249]:
# (20, 30] 내 dis 컬럼의 중앙값 구하기
median = df12['dis'][cond].median()
median

3.9454

In [253]:
# 결과를 result 변수에 할당
result = round(median, 2)
result

3.95

## 13.

In [254]:
import pandas as pd
import numpy as np

In [255]:
# 데이터 불러오기
df13 = pd.read_csv('../data/연습문제/Melanoma.csv')
df13.head()

   time  status  sex  age  year  thickness  ulcer
0    10       3    1   76  1972       6.76      1
1    30       3    1   56  1968       0.65      0
2    35       2    1   41  1977       1.34      0
3    99       3    0   71  1968       2.90      0
4   185       1    1   52  1965      12.08      1

In [256]:
df13.shape

(205, 7)

In [258]:
# 1번째 ~ 122번째 레코드와 123번째 이후 레코드로 데이터셋 분리
df1 = df13.iloc[:123]
df2 = df13.iloc[123:]
df1.shape, df2.shape

((123, 7), (82, 7))

In [260]:
# thickness 칼럼을 z-score 정규화로 변환
avg = df1['thickness'].mean()             # 평균
std = df1['thickness'].std()              # 표준편차
avg, std

(3.2740650406504064, 3.314143273167185)

In [262]:
# z-score 변환
std1 = (df1['thickness'] - avg) / std
std2 = (df2['thickness'] - avg) / std

In [266]:
# -1과 1 사이 값
sub_std1 = std1[ (std1 >= -1) & (std1 <= 1) ]
sub_std2 = std2[ (std2 >= -1) & (std2 <= 1) ]

In [268]:
# 중앙값
med1 = sub_std1.median()
med2 = sub_std2.median()
med1, med2

(-0.4779712010267387, -0.524740452451368)

In [269]:
# 합계를 result에 할당
result = round(med1 + med2, 4)
result

-1.0027