# 연습문제 : 작업형 3
## 01.

In [1]:
# 귀무가설: (실험군 혈압 변화 - 대조군 혈압 변화)의 평균 = 0
# 대립가설: (실험군 혈압 변화 - 대조군 혈압 변화)의 평균 != 0

In [3]:
# (a) (실험군 혈압 변화 - 대조군 혈압 변화)의 평균의 점추정량 구하기 (반올림하여 소수 둘째자리까지 계산)
import pandas as pd
df1 = pd.read_csv("../data/연습문제/Rabbit_Five.csv", encoding = 'cp949')
df1.head()

   BP_change    Dose Treatment lbl_Animal
0        0.5    6.25   Control         R1
1        4.5   12.50   Control         R1
2       10.0   25.00   Control         R1
3       26.0   50.00   Control         R1
4       37.0  100.00   Control         R1

In [4]:
df1.shape

(60, 4)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BP_change   60 non-null     float64
 1   Dose        60 non-null     float64
 2   Treatment   60 non-null     object
 3   lbl_Animal  60 non-null     object
dtypes: float64(2), object(2)
memory usage: 2.0+ KB

In [14]:
df1['Treatment'].unique()

array(['Control', 'MDL'], dtype=object)

In [22]:
df1.agg(['min', 'max'])

     BP_change    Dose Treatment lbl_Animal
min        0.5    6.25   Control         R1
max       37.0  200.00       MDL         R5

In [7]:
# 필요한 패키지 함수 호출
from scipy.stats import ttest_rel

In [27]:
# 필요한 칼럼 각각 할당
BP_change = df1['BP_change']
Treatment = df1['Treatment']

In [28]:
# Treatment가 Control인 경우(대조군)와 MDL인 경우(실험군)의 BP_change 값 각각 할당
BPC_Treat = BP_change[Treatment == "MDL"].reset_index(drop = True)
BPC_Control = BP_change[Treatment == 'Control'].reset_index(drop = True)

In [32]:
# (a) 점추정량 = mean(PC_Treat - PC_Control)
diff_avg = (BPC_Treat - BPC_Control).mean()
diff_avg = round(diff_avg, 2)
diff_avg

-4.68

In [33]:
# 대응표본 t검정 수행
a = ttest_rel(BPC_Treat, BPC_Control)

In [34]:
# (b) 검정통계량
stat = a.statistic
stat = round(stat, 2)
stat

-3.67

In [37]:
# (c) p-value 구하기
pval = a.pvalue
pval = round(pval, 3)
pval

0.001

- (a) -4.68
- (b) -3.67
- (c) 0.001, 기각

## 02.

In [38]:
# σ^2: 수동변속기(am = 1)인 자동차의 마력분산/자동변속기(am = 0)인 자동차의 마력분산
# 귀무가설: σ^2 <= 1
# 대립가설: σ^2 > 1

In [39]:
import pandas as pd
df2 = pd.read_csv('../data/연습문제/mtcars2.csv', encoding = 'cp949')
df2.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8    NaN  175  3.15  3.440  17.02   0   0     3     2

In [40]:
df2.shape

(32, 11)

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    25 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 2.9 KB

In [52]:
df2.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,25.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,200.592000,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,109.739202,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.100000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,160.000000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,275.800000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,440.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [53]:
# 필요한 패키지
from scipy.stats import f

In [54]:
# 필요한 컬럼 따로 변수에 저장
am = df2['am']
hp = df2['hp']

In [56]:
# 수동변속기(a = 1)인 자동차의 마력(hp), 자동변속기(am = 0)인 자동차의 마력(hp) 각각 할당
hp_manual = hp[am == 1].reset_index(drop = True)
hp_auto = hp[am == 0].reset_index(drop = True)

In [59]:
# (a) 수동 변속 표본분산/자동변속 표본분산
var_ratio = hp_manual.var() / hp_auto.var()
var_ratio = round(var_ratio, 2)
var_ratio

2.43

In [60]:
# F-검정 수행
# (b) 검정통계량 = (a)랑 같음
stat = var_ratio
stat

2.43

In [61]:
# (c) 유의확률
# 자유도
dof1, dof2 = len(hp_manual) - 1, len(hp_auto) - 1
dof1, dof2

(12, 18)

In [66]:
# F분포로 확률 계산
pval = 1 - f.cdf(stat, dfn = dof1, dfd = dof2) # PR[F > stat]
pval = round(pval, 3)
pval

0.043

- (a) 2.43
- (b) 2.43
- (c) 0.043, 기각

## 03.

In [67]:
# 귀무가설: Pi X Pj = Pij (고객군과 지역은 서로 독립이다)
# 대립가설: Pi X Pj != Pij (고객군과 지역은 서로 종속이다)
# 참고) Pij는 i번째 행의 j번째 열의 모비율

In [68]:
import pandas as pd
df3 = pd.read_csv('../data/연습문제/고객_등급리스트.csv', encoding = 'cp949')
df3.head()

,Customer_ID,ID,Name,Age,City,State,Region,Segment
0,NaN,12520,Claire Gute,6*,Henderson,Kentucky,South,Consumer
1,NaN,13045,Darrin Van Huff,3*,Los Angeles,California,West,Corporate
2,NaN,20335,Sean O'Donnell,6*,Fort Lauderdale,Florida,South,Consumer
3,NaN,11710,Brosina Hoffman,2*,Los Angeles,California,West,Consumer
4,NaN,10480,Andrew Allen,5*,Concord,North Carolina,South,Consumer

In [69]:
df3.shape

(350, 8)

In [71]:
df3.describe()

       Customer_ID            ID
count          0.0    350.000000
mean           NaN  15931.042857
std            NaN   3395.033493
min            NaN  10060.000000
25%            NaN  13067.500000
50%            NaN  15902.500000
75%            NaN  18906.250000
max            NaN  21925.000000

In [74]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer_ID  0 non-null      float64
 1   ID           350 non-null    int64
 2   Name         350 non-null    object
 3   Age          350 non-null    object
 4   City         350 non-null    object
 5   State        350 non-null    object
 6   Region       350 non-null    object
 7   Segment      350 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 22.0+ KB

In [75]:
# 필요한 패키지
from scipy.stats import chi2_contingency
import numpy as np

In [77]:
# 교차표 생성
tb = pd.crosstab(df3['Segment'], df3['Region'])
tb

Region       Central  East  South  West
Segment
Consumer          41    53     27    65
Corporate         29    31     19    29
Home Office       18    22      5    11

In [79]:
# 카이제곱 검정 수행
# chi2_contingency의 결과는 카이제곱통계량, 유의확률, 자유도, 기대도수를 반환
chi2, pval, dof, expected = chi2_contingency(tb)
chi2, pval, dof, expected

(9.488312197551783,
 0.1479205256846858,
 6,
 array([[46.76571429, 56.33142857, 27.10285714, 55.8       ],
        [27.15428571, 32.70857143, 15.73714286, 32.4       ],
        [14.08      , 16.96      ,  8.16      , 16.8       ]]))

In [85]:
# (a) E_23 구하기 (Eij는 기대도수)(반올림하여 둘째짜리까지 계산)
e23 = expected[1, 2]         # E_23은 두 번째 행의 세 번째 열 >> 파이썬에서는 [1, 2]로
e23= round(e23, 2)
e23

15.74

In [86]:
# p-value (소수 셋째자리까지)
chi2 = chi2.astype('int')      # 정수 변환
chi2

9

In [87]:
# p-vlaue
pval = round(pval, 3)
pval

0.148

- (a) 15.74
- (b) 9
- (c) 0.148, 채택

## 04.

In [1]:
# 귀무가설: 주어진 데이터는 정규분포를 따른다
# 대립가설: 주어진 데이터는 정규분포를 따르지 않는다

In [2]:
import pandas as pd

In [11]:
df4 = pd.read_csv('../data/연습문제/Cars93.csv', encoding = 'cp949')
df4.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [5]:
df4.shape

(93, 28)

In [6]:
df4.describe()

,Min_Price,Price,Max_Price,MPG_city,MPG_highway,EngineSize,Horsepower,RPM,Rev_per_mile,Fuel_tank_capacity,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Unnamed: 26
count,93.000000,84.000000,93.000000,93.000000,93.000000,93.000000,93.000000,89.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,80.00000,91.000000,82.000000,93.000000,93.000000
mean,17.125806,19.047619,21.898925,22.365591,29.086022,2.667742,143.827957,5277.528090,2341.408602,16.664516,5.086022,183.204301,103.989247,69.376344,39.10000,27.829670,13.890244,3081.505376,46.000000
std,8.746029,9.696608,11.030457,5.619812,5.331726,1.037363,52.374410,602.928989,598.459676,3.279370,1.038979,14.602382,7.389026,3.778986,3.29787,2.989072,2.997967,704.756104,26.990739
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,825.000000,9.200000,2.000000,141.000000,85.000000,60.000000,32.00000,19.000000,6.000000,713.000000,0.000000
25%,10.800000,12.025000,14.700000,18.000000,26.000000,1.800000,103.000000,4800.000000,1980.000000,14.500000,4.000000,174.000000,98.000000,67.000000,37.00000,26.000000,12.000000,2620.000000,23.000000
50%,14.700000,16.550000,19.600000,21.000000,28.000000,2.400000,140.000000,5200.000000,2340.000000,16.400000,5.000000,183.000000,103.000000,69.000000,39.00000,27.500000,14.000000,3040.000000,46.000000
75%,20.300000,21.800000,25.300000,25.000000,31.000000,3.300000,170.000000,5750.000000,2595.000000,18.800000,6.000000,192.000000,110.000000,72.000000,42.00000,30.000000,15.000000,3560.000000,69.000000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,4305.000000,27.000000,8.000000,219.000000,124.000000,78.000000,45.00000,36.000000,22.000000,6022.000000,92.000000

In [7]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Model               93 non-null     object
 2   Type                93 non-null     object
 3   Min_Price           93 non-null     float64
 4   Price               84 non-null     float64
 5   Max_Price           93 non-null     float64
 6   MPG_city            93 non-null     int64
 7   MPG_highway         93 non-null     int64
 8   AirBags             59 non-null     object
 9   DriveTrain          93 non-null     object
 10  Cylinders           93 non-null     object
 11  EngineSize          93 non-null     float64
 12  Horsepower          93 non-null     int64
 13  RPM                 89 non-null     float64
 14  Rev_per_mile        93 non-null     int64
 15  Man_trans_avail     93 non-null     object
 16  Fuel_tank_capacity  93 non-null     float64
 17  Passengers          93 non-null     int64
 18  Length              93 non-null     int64
 19  Wheelbase           93 non-null     int64
 20  Width               93 non-null     int64
 21  Turn_circle         80 non-null     float64
 22  Rear_seat_room      91 non-null     float64
 23  Luggage_room        82 non-null     float64
 24  Weight              93 non-null     int64
 25  Origin              93 non-null     object
 26  Unnamed: 26         93 non-null     int64
 27  Make                93 non-null     object
dtypes: float64(9), int64(10), object(9)
memory usage: 20.5+ KB

In [8]:
from scipy.stats import shapiro

In [10]:
# 필요한 컬럼(price)만 따로 저장하기
price = df4['Price'].copy().dropna()
price

0     15.9
1     33.9
2     29.1
5     15.7
6     20.8
      ...
88    19.7
89    20.0
90    23.3
91    22.7
92    26.7
Name: Price, Length: 84, dtype: float64

In [12]:
# (a) 가격(Price)의 표본평균 구하기 (반올림하여 소수 둘째 자리까지)
# 표본평균
avg = round(price.mean(), 2)
avg

19.05

In [18]:
# (b) 검정통계량 구하기 (반올림하여 소수 둘째 자리까지)
# 샤피로 윌크 검정 수행
stat, pval = shapiro(price)
round(stat, 2)

0.85

In [19]:
# p-value 값을 구하고 유의수준 0.1 하에서 채택/기각 중 하나 출력하기 (반올림하여 소수 넷째짜리까지 계산하되 0.0001보다 작을 경우 정수 0 출력)
round(pval, 4)

0.0

In [20]:
print('기각')

기각

- (a) 19.05
- (b) 0.85
- (c) 0, 기각

## 05.

In [21]:
# ρ: 두 변수의 모상관계수
# 귀무가설: ρ = 0
# 대립가설: ρ != 0

In [26]:
import pandas as pd
import numpy as np

In [23]:
df5 = pd.read_csv('../data/연습문제/Cars93.csv', encoding = 'cp949')
df5.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [24]:
df5.shape

(93, 28)

In [25]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Model               93 non-null     object
 2   Type                93 non-null     object
 3   Min_Price           93 non-null     float64
 4   Price               84 non-null     float64
 5   Max_Price           93 non-null     float64
 6   MPG_city            93 non-null     int64
 7   MPG_highway         93 non-null     int64
 8   AirBags             59 non-null     object
 9   DriveTrain          93 non-null     object
 10  Cylinders           93 non-null     object
 11  EngineSize          93 non-null     float64
 12  Horsepower          93 non-null     int64
 13  RPM                 89 non-null     float64
 14  Rev_per_mile        93 non-null     int64
 15  Man_trans_avail     93 non-null     object
 16  Fuel_tank_capacity  93 non-null     float64
 17  Passengers          93 non-null     int64
 18  Length              93 non-null     int64
 19  Wheelbase           93 non-null     int64
 20  Width               93 non-null     int64
 21  Turn_circle         80 non-null     float64
 22  Rear_seat_room      91 non-null     float64
 23  Luggage_room        82 non-null     float64
 24  Weight              93 non-null     int64
 25  Origin              93 non-null     object
 26  Unnamed: 26         93 non-null     int64
 27  Make                93 non-null     object
dtypes: float64(9), int64(10), object(9)
memory usage: 20.5+ KB

In [37]:
# 상관분석에 필요한 칼럼 저장
horsepower = df5['Horsepower']
rpm = df5['Rev_per_mile']

In [38]:
from scipy.stats import pearsonr

In [39]:
# 상관계수 검정 수행
rho, pval = pearsonr(horsepower, rpm)
rho, pval

(-0.5024048530387446, 2.877085007188926e-07)

In [40]:
# (a) 표본상관계수
round(rho, 3)

-0.502

In [41]:
# (b) 검정통계량
stat = rho/np.sqrt( (1-rho**2) / (len(horsepower) - 2) )
round(stat, 2)

-5.54

In [43]:
# p-value를 구하고 (소수 넷째 자리까지 구하고, 0.0001보다 작을 경우 정수 0을 출력), 유의수준 0.05 하에서 가설검정 결과를 채택/기각 중 하나 선택
pval = int(pval)
pval

0

In [44]:
print('기각')

기각

- (a) -0.502
- (b) -5.54
- (c) 0, 기각

## 06.

In [45]:
import pandas as pd

In [46]:
df6 = pd.read_csv('../data/연습문제/USArrests.csv', encoding = 'cp949')
df6.head()

   Murder  Assault  UrbanPop  Rape
0    13.2      236        58  21.2
1    10.0      263        48  44.5
2     8.1      294        80  31.0
3     8.8      190        50  19.5
4     9.0      276        91  40.6

In [47]:
df6.shape

(50, 4)

In [48]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Murder    50 non-null     float64
 1   Assault   50 non-null     int64
 2   UrbanPop  50 non-null     int64
 3   Rape      50 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 1.7 KB

In [50]:
# (a) 첫번째 주성분에서 폭력범죄(Assalt)가 기여하는 가중치(반올림하여 소수 셋째자리까지 계산)
from sklearn.decomposition import PCA

In [52]:
# PCA 수행
pca = PCA(n_components = 4)     # 주성분 객체 생성
pca.fit_transform(df6)

array([[ 6.48021637e+01,  1.14480074e+01, -2.49493284e+00,
         2.40790093e+00],
       [ 9.28274502e+01,  1.79829427e+01,  2.01265749e+01,
        -4.09404703e+00],
       [ 1.24068216e+02, -8.83040304e+00, -1.68744836e+00,
        -4.35368520e+00],
       [ 1.83400354e+01,  1.67039114e+01,  2.10189364e-01,
        -5.20993604e-01],
       [ 1.07422953e+02, -2.25200698e+01,  6.74587299e+00,
        -2.81182590e+00],
       [ 3.49759860e+01, -1.37195840e+01,  1.22793628e+01,
        -1.72146370e+00],
       [-6.08872819e+01, -1.29325302e+01, -8.42065719e+00,
        -6.99902287e-01],
       [ 6.67310254e+01, -1.35379780e+00, -1.12809573e+01,
        -3.72798119e+00],
       [ 1.65244370e+02, -6.27469007e+00, -2.99793315e+00,
         1.24768071e+00],
       [ 4.05351766e+01,  7.29023959e+00,  3.60952946e+00,
         7.34367284e+00],
       [-1.23536106e+02, -2.42912079e+01,  3.72444284e+00,
         3.47284940e+00],
       [-5.17970023e+01,  9.46919099e+00, -1.52006356e+00,
        -3.34782833e+00],
       [ 7.89920973e+01, -1.28970605e+01, -5.88326477e+00,
         3.67640738e-01],
       [-5.75509607e+01, -2.84626471e+00,  3.73816049e+00,
         1.64943016e+00],
       [-1.15586790e+02,  3.34213050e+00, -6.54029354e-01,
        -8.69495984e-01],
       [-5.57896941e+01, -3.15723392e+00,  3.84364163e-01,
         6.52791690e-01],
       [-6.23831806e+01,  1.06732715e+01,  2.23708903e+00,
         3.87621641e+00],
       [ 7.82776313e+01,  4.29491750e+00, -3.82786965e+00,
         4.48355900e+00],
       [-8.92610443e+01,  1.14878272e+01, -4.69240562e+00,
        -2.11619948e+00],
       [ 1.29330136e+02,  5.00703148e+00, -2.34717282e+00,
        -1.92832425e+00],
       [-2.12662826e+01, -1.94501790e+01, -7.50714835e+00,
        -1.03481895e+00],
       [ 8.54515267e+01, -5.90455670e+00,  6.46434210e+00,
         4.99047890e-01],
       [-9.89548155e+01, -5.20960058e+00,  6.57375986e-03,
        -7.31895664e-01],
       [ 8.68563577e+01,  2.74284196e+01, -5.00343624e+00,
         3.87975769e+00],
       [ 7.98628867e+00, -5.27564140e+00,  5.50057972e+00,
         6.79405505e-01],
       [-6.24836353e+01,  9.51050205e+00,  1.83835536e+00,
         2.45942647e-01],
       [-6.90965444e+01,  2.11195917e-01,  4.68020859e-01,
        -6.56566427e-01],
       [ 8.36135784e+01, -1.51021839e+01,  1.58886948e+01,
         3.34196244e-01],
       [-1.14777355e+02,  4.73455836e+00, -2.28238693e+00,
        -9.35910563e-01],
       [-1.08157251e+01, -2.31373389e+01, -6.31015739e+00,
         1.61242729e+00],
       [ 1.14868163e+02,  3.36453098e-01,  2.26126996e+00,
        -1.38124776e+00],
       [ 8.42942305e+01, -1.59239655e+01, -4.72125960e+00,
         8.92019350e-01],
       [ 1.64325514e+02,  3.10966153e+01, -1.16961635e+01,
        -2.11119273e+00],
       [-1.27495597e+02,  1.61350394e+01, -1.31182982e+00,
        -2.30096392e+00],
       [-5.00868217e+01, -1.22793244e+01,  1.65733077e+00,
         2.02911567e+00],
       [-1.96937229e+01, -3.37013102e+00, -4.53143295e-01,
        -1.80345739e-01],
       [-1.11502396e+01, -3.86606815e+00,  8.12998050e+00,
        -2.91401089e+00],
       [-6.46891419e+01, -8.91154655e+00, -3.20646858e+00,
         1.87493531e+00],
       [ 3.06397257e+00, -1.83739704e+01, -1.74700197e+01,
        -2.30825968e+00],
       [ 1.07281069e+02,  2.35361159e+01, -2.03279501e+00,
         1.25174626e+00],
       [-8.61067201e+01,  1.65978586e+01,  1.31437998e+00,
        -1.25228739e+00],
       [ 1.75062643e+01,  6.50657560e+00,  6.10012753e+00,
         3.92285575e+00],
       [ 3.12911217e+01, -1.29849566e+01, -3.93409218e-01,
         4.24200405e+00],
       [-4.99133974e+01, -1.76484577e+01,  1.78816852e+00,
        -1.86770524e+00],
       [-1.24714469e+02,  2.73135591e+01,  4.80277765e+00,
        -2.00498568e+00],
       [-1.48174482e+01,  1.75261502e+00,  1.04538813e+00,
         1.17384083e+00],
       [-2.50758390e+01, -9.96796691e+00,  4.78112764e+00,
        -2.69108186e+00],
       [-9.15446470e+01,  2.29528778e+01, -4.01983435e-01,
         7.36878098e-01],
       [-1.18176328e+02, -5.50757920e+00, -2.71132077e+00,
         2.04972398e-01],
       [-1.04345394e+01,  5.92445292e+00, -3.79444682e+00,
        -5.17867428e-01]])

In [53]:
# 첫 번째 주성분위 폭력범죄 기여 가중치
# pca.components_.T에서 행은 기존 컬럼 (Merder, Assult, UrbanPop, Rape)
weight = pca.components_.T[1, 0]
weight = round(weight, 3)
weight

0.995

In [54]:
# (b) 34번째 도시에 대한 제 1주성분의 주성분 점수 구하기 (반올림하여 소수 셋째자리까지 계산), 여기서 첫번째 도시는 가장 위에 위치한 레코드 의미
score = pca.fit_transform(df6)[33, 0]
score = round(score, 3)
score

-127.496

In [57]:
# (c) 첫번째 주성분의 누적기여율을 구하고(반올림하여 소수 둘째자리까지 계산), 원래 차원에서 줄어드는 차원의 개수 구하기
# 주성분별 설명되는 분산 비율을 시리즈로 저장
var_ratio = pd.Series(pca.explained_variance_ratio_)
var_ratio

0    0.965534
1    0.027817
2    0.005800
3    0.000849
dtype: float64

In [59]:
result = round(var_ratio[0], 2)
print("첫번째 주성분의 누적 기여율: ", result, "줄어드는 차원의 개수: ", 3)

첫번째 주성분의 누적 기여율:  0.97 줄어드는 차원의 개수:  3

- (a) 0.996
- (b) -127.496
- (c) 0.97, 3

## 07.

In [61]:
import pandas as pd
import statsmodels.api as sm

In [62]:
df7 = pd.read_csv('../data/연습문제/Cars93.csv', encoding = 'cp949')
df7.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,NaN,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,NaN,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [63]:
# 회귀분석 수행
cols = ['Price', 'Rev_per_mile', 'Weight', 'Length', 'EngineSize']
df7_col = df7[cols].dropna()      # 결측치 제거
df7_col.head()

   Price  Rev_per_mile  Weight  Length  EngineSize
0   15.9          2890    2705     177         1.8
1   33.9          2335    3560     195         3.2
2   29.1          2280    3375     180         2.8
5   15.7          2565    2880     189         2.2
6   20.8          1570    3470     200         3.8

In [64]:
# y, X에 할당
y = df7_col['Price']    # 종속변수
X = df7_col[ ['Rev_per_mile', 'Weight', 'Length', 'EngineSize'] ]
X = sm.add_constant(X) # 절편합 적합을 위한 상수벡터 추가

In [65]:
# 모델 적합
model = sm.OLS(y, X)   # OLS 객체 생성
result = model.fit()   # 모형 적합

In [66]:
# result.params로 회귀계수만 추출
# result.tvalues로 t통계량만 추출
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.396
Model:                            OLS   Adj. R-squared:                  0.366
Method:                 Least Squares   F-statistic:                     12.96
Date:                Mon, 17 Jun 2024   Prob (F-statistic):           3.69e-08
Time:                        03:15:07   Log-Likelihood:                -288.33
No. Observations:                  84   AIC:                             586.7
Df Residuals:                      79   BIC:                             598.8
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -2.6152     17.252     -0.152      0.880     -36.954      31.724
Rev_per_mile     0.0016      0.002      0.844      0.401      -0.002       0.005
Weight           0.0023      0.002      1.427      0.158      -0.001       0.005
Length          -0.0210      0.104     -0.203      0.840      -0.227       0.185
EngineSize       5.7126      1.479      3.861      0.000       2.768       8.657
==============================================================================
Omnibus:                       54.602   Durbin-Watson:                   1.203
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              252.601
Skew:                           2.010   Prob(JB):                     1.41e-55
Kurtosis:                      10.485   Cond. No.                     7.98e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.98e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [89]:
# (a) 결정계수(R-squared) 구하기 (반올림하여 소수 셋째자리까지 계산)
r_squared = 0.396 # summary에서 확인한 값

rsq = result.rsquared # 더 자세한 값 확인용
round(rsq, 3)

0.396

In [71]:
# (b) 다른 변수가 고정되어 있다면 중량이 한 단위 증가했을 때.. ~ >> Weight의 추정 회귀계수 구하는 거
b = 0.0023
b

0.0023

In [84]:
# (c) Weight의 P>|t| 값은 0.158
pval = 0.158
print('.summary() 함수 사용한 p-value: ', pval)

# 소수점 넷째자리까지 계산이라고 했으므로 result.pvalues 함수 사용해서 소수 넷째자리까지 출력
pval_4 = result.pvalues['Weight']
pval_4 = round(pval_4, 4)
print('.pvalues 함수 사용한 p-value: ', pval_4)

.summary() 함수 사용한 p-value:  0.158
.pvalues 함수 사용한 p-value:  0.1576

In [85]:
# (d) (b) 값에 대한 95% 신뢰구간 구하고 신뢰상한 값 출력 >> Weight의 회귀계수에 대한 95% 신뢰구간 구하기
# result.conf_int(alpha = 0.05, cols = None) 함수로 상한값 확인
result.conf_int(alpha = 0.05, cols = None)

                      0          1
const        -36.954452  31.723953
Rev_per_mile  -0.002173   0.005371
Weight        -0.000892   0.005406
Length        -0.227167   0.185163
EngineSize     2.767785   8.657369

In [86]:
upper = 0.005406
upper = round(upper, 3)
upper

0.005

- (a) 0.396
- (b) 0.0023
- (c) 0.1576
- (d) 0.005

## 08.

In [90]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [91]:
df8 = pd.read_csv('../data/연습문제/job.csv')
df8.head()

       x1 x2      x3  y
0  0.7759  M  0.9167  0
1  0.9397  M  0.1167  0
2 -0.2241  M  0.3000  0
3  0.7759  M  2.0333  0
4  0.7759  M  0.5000  0

In [92]:
df8.isnull().sum()

x1    0
x2    0
x3    0
y     0
dtype: int64

In [93]:
# x2 칼럼에서 M을 1로, F를 0으로 인코딩
df8['x2'].unique()

array(['M', 'F'], dtype=object)

In [94]:
df8['x2'] = df8['x2'].map( {'M':1, 'F':0} )
df8['x2'].unique()

array([1, 0], dtype=int64)

In [95]:
# y, X에 각각 할당
y = df8['y']
X = df8[ ['x1', 'x2', 'x3'] ]
X = sm.add_constant(X)

In [96]:
# 모델 적합
model = sm.GLM(y, X, family = sm.families.Binomial())
result = model.fit()

In [97]:
# 결과 확인
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  105
Model:                            GLM   Df Residuals:                      101
Model Family:                Binomial   Df Model:                            3
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -56.381
Date:                Mon, 17 Jun 2024   Deviance:                       112.76
Time:                        03:43:53   Pearson chi2:                     106.
No. Iterations:                     4   Pseudo R-squ. (CS):            0.09941
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.8077      0.696     -1.160      0.246      -2.173       0.557
x1            -0.6233      0.198     -3.149      0.002      -1.011      -0.235
x2            -0.1575      0.684     -0.230      0.818      -1.498       1.183
x3            -0.2153      0.309     -0.696      0.487      -0.822       0.391
==============================================================================
"""

In [98]:
# (a) 절편항에 대한 회귀계수 추정량 (소수 셋째 자리까지)
b0 = -0.8077   # summary() 함수의 const 값에서 확인
round(b0, 3)

-0.808

In [104]:
# .params 함수로도 확인 가능
result.params
round(result.params['const'], 3)

-0.808

In [107]:
# 다른 변수가 고정되어 있을 때, 여성에 비해 남성의 취업 성공에 대한 오즈가 몇 배 감소하는지 출력 (소수 셋째 자리까지)
# 오즈비 = 남성의_성공_오즈 / 여성의_성공_오즈 = exp(beta2)
odds_ratio = round(np.exp(-0.1575), 3)         # summary() 함수의 x2 값
odds_ratio

0.854

In [109]:
# .params 함수로도 확인 가능
result.params
round( np.exp(result.params['x2']), 3)

0.854

In [110]:
# (c) 9번 학생의 성공(y)할 확률 계산 (소수 넷째 자리까지), 임계값이 0.7일 때 성공이면 1, 아니면 0 출력
y_prob = round(result.predict(X)[8], 4)
y_prob

0.5344

In [111]:
# 0.7 이하이므로 0 출력
print(0)

0

- (a) -0.808
- (b)  0.854
- (c) 0.5344, 0

## 09.

In [1]:
# Bartlett 등분산 검정
# 1: 스릴러, 2: 코미디, 3: 드라마, 4: 액션

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import bartlett

In [4]:
df9 = pd.read_csv('../data/연습문제/영화_순위리스트.csv', encoding = 'cp949')
df9.head()

,번호,홍보비,제작비,예산,영화길이_분,남자_주연_배우_순위,여_주연_배우_순위,디렉터_순위,프로듀서_순위,비평가_순위,트레일러_뷰수,3D_가능여부,트위터_해시태그_수,장르,배우_평균_나이
0,2,20.1264,59.62,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,Y,223.840,Thriller,23
1,3,20.5462,69.14,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,N,243.456,Drama,42
2,4,20.5458,69.14,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,N,2022.400,Comedy,38
3,5,20.6474,59.36,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,Y,225.344,Drama,45
4,6,21.3810,59.36,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,N,225.792,Drama,55

In [6]:
df9.shape

(506, 15)

In [7]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   번호           506 non-null    int64
 1   홍보비          506 non-null    float64
 2   제작비          506 non-null    float64
 3   예산           506 non-null    float64
 4   영화길이_분       506 non-null    float64
 5   남자_주연_배우_순위  506 non-null    float64
 6   여_주연_배우_순위   506 non-null    float64
 7   디렉터_순위       506 non-null    float64
 8   프로듀서_순위      506 non-null    float64
 9   비평가_순위       506 non-null    float64
 10  트레일러_뷰수      506 non-null    int64
 11  3D_가능여부      506 non-null    object
 12  트위터_해시태그_수   506 non-null    float64
 13  장르           506 non-null    object
 14  배우_평균_나이     506 non-null    int64
dtypes: float64(10), int64(3), object(2)
memory usage: 59.4+ KB

In [8]:
df9.describe()

,번호,홍보비,제작비,예산,영화길이_분,남자_주연_배우_순위,여_주연_배우_순위,디렉터_순위,프로듀서_순위,비평가_순위,트레일러_뷰수,트위터_해시태그_수,배우_평균_나이
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,254.500000,92.270471,77.273557,34911.144022,142.074901,8.014002,8.185613,8.019664,8.190514,7.810870,449860.715415,260.832095,39.181818
std,146.213884,172.030902,13.720706,3903.038232,28.148861,1.054266,1.054290,1.059899,1.049601,0.659699,68917.763145,104.779133,12.513697
min,2.000000,20.126400,55.920000,19781.355000,76.400000,3.840000,4.035000,3.840000,4.030000,6.600000,212912.000000,201.152000,3.000000
25%,128.250000,21.640900,65.380000,32693.952500,118.525000,7.316250,7.503750,7.296250,7.507500,7.200000,409128.000000,223.796000,28.000000
50%,254.500000,25.130200,74.380000,34488.217500,151.000000,8.307500,8.495000,8.312500,8.465000,7.960000,462460.000000,254.400000,39.000000
75%,380.750000,93.541650,91.200000,36793.542500,167.575000,8.865000,9.030000,8.883750,9.030000,8.260000,500247.500000,283.416000,50.000000
max,507.000000,1799.524000,110.480000,48772.900000,173.500000,9.435000,9.540000,9.425000,9.635000,9.400000,567784.000000,2022.400000,60.000000

In [9]:
# 필요한 칼럼
genre = df9['장르']
budget = df9['예산']

In [11]:
# 장르별 예산 값 할당
df9['장르'].unique()

array(['Thriller', 'Drama', 'Comedy', 'Action'], dtype=object)

In [13]:
budget_thriller = budget[genre == 'Thriller']
budget_drama = budget[genre == 'Drama']
budget_comedy = budget[genre == 'Comedy']
budget_action = budget[genre == 'Action']

In [17]:
# (a) log(합동분산) >> log s^2_p 구하기 (소수 셋째자리까지) (여기서 log는 자연로그)
var_i = [budget_thriller.var(), budget_drama.var(), budget_comedy.var(), budget_action.var()]
var_i

[19227680.629636463,
 16336651.644897908,
 11179089.714121548,
 12536888.164932422]

In [18]:
# 집단별 관측치 수
n_i= [len(budget_thriller), len(budget_drama), len(budget_comedy), len(budget_action)]
n_i

[183, 97, 155, 71]

In [22]:
# log(합동분산) 계산
N = sum(n_i)   # 전체 표본의 수
k = 4          # 집단의 수
n_i            # 집단의 관측치 수
var_i          # 집단별 표본분산

log_sp2 = np.log( sum(np.subtract(n_i, 1) * var_i) / (N - k) )
log_sp2 = round(log_sp2, 3)
log_sp2

16.542

In [23]:
# (b) 검정통계량 구하기
# Bartlett 테스트
stat, pval = bartlett(budget_thriller, budget_drama, budget_comedy, budget_action)

In [24]:
stat = round(stat, 2)
pval = round(pval, 4)
stat, pval

(13.44, 0.0038)

- (a) 16.542
- (b) 13.44
- (c) 0.0038, 기각