# 연습문제 : 작업형 2
## 01.

In [111]:
import pandas as pd
import numpy as np

In [112]:
y_train = pd.read_csv('../data/연습문제/FIFA_y_train.csv', encoding='cp949')
X_train = pd.read_csv('../data/연습문제/FIFA_X_train.csv', encoding='cp949')
X_test = pd.read_csv('../data/연습문제/FIFA_X_test.csv', encoding='cp949')

In [113]:
print(y_train.shape)
y_train.head()

(3600, 2)

       ID  Value
0  190972  18500
1  179646    500
2  225440   1200
3  212642    325
4  245804    220

In [114]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600 entries, 0 to 3599
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3600 non-null   int64
 1   Value   3600 non-null   int64
dtypes: int64(2)
memory usage: 56.4 KB

In [115]:
y_train.describe()

                  ID         Value
count    3600.000000   3600.000000
mean   214137.233611   2348.593056
std     29536.484864   5120.938813
min      2147.000000     10.000000
25%    199536.500000    325.000000
50%    221322.500000    675.000000
75%    236814.000000   2100.000000
max    246606.000000  78000.000000

In [116]:
print(X_train.shape)
X_train.head()

(3600, 16)

,ID,Age,Nationality,Overall,Club,Preferred_Foot,Work_Rate,Position,Position_Class,Jersey_Number,Contract_Valid_Until,Height,Height_cm,Weight_lb,Release_Clause,Wage
0,190972,2*,Argentina,81,SL Benfica,Right,High/ Medium,RW,Forward,18,2019,5'8,170.0,170.0,37000,19
1,179646,29,Denmark,66,Aarhus GF,Left,High/ Medium,LCB,Defender,18,2019,6'0,180.0,179.0,625,4
2,225440,23,Guinea Bissau,68,Palermo,Left,High/ Low,LW,Forward,11,2020,5'9,172.5,163.0,2000,2
3,212642,22,Sweden,61,IF Brommapojkarna,Right,Medium/ Medium,LW,Forward,10,2020,5'10,175.0,154.0,431,1
4,245804,18,Turkey,57,Alanyaspor,Right,High/ Low,ST,Forward,47,2022,5'10,175.0,132.0,578,1

In [117]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600 entries, 0 to 3599
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    3600 non-null   int64
 1   Age                   3600 non-null   object
 2   Nationality           3600 non-null   object
 3   Overall               3600 non-null   int64
 4   Club                  3600 non-null   object
 5   Preferred_Foot        3600 non-null   object
 6   Work_Rate             3600 non-null   object
 7   Position              3600 non-null   object
 8   Position_Class        2842 non-null   object
 9   Jersey_Number         3600 non-null   int64
 10  Contract_Valid_Until  3600 non-null   int64
 11  Height                3600 non-null   object
 12  Height_cm             3308 non-null   float64
 13  Weight_lb             3528 non-null   float64
 14  Release_Clause        3600 non-null   int64
 15  Wage                  3600 non-null   int64
dtypes: float64(2), int64(6), object(8)
memory usage: 450.1+ KB

In [118]:
X_train.describe()

,ID,Overall,Jersey_Number,Contract_Valid_Until,Height_cm,Weight_lb,Release_Clause,Wage
count,3600.000000,3600.000000,3600.000000,3600.000000,3308.000000,3528.000000,3600.000000,3600.000000
mean,214137.233611,66.112500,19.623333,2020.267500,178.276149,166.061508,4414.664722,9.325000
std,29536.484864,6.903121,15.665325,1.314569,6.514353,15.590009,9993.717205,19.607412
min,2147.000000,46.000000,1.000000,2018.000000,155.000000,115.000000,13.000000,1.000000
25%,199536.500000,62.000000,8.000000,2019.000000,172.500000,154.000000,536.000000,1.000000
50%,221322.500000,66.000000,17.000000,2020.000000,177.500000,165.000000,1200.000000,3.000000
75%,236814.000000,71.000000,26.000000,2021.000000,182.500000,176.000000,3600.000000,9.000000
max,246606.000000,89.000000,99.000000,2026.000000,202.500000,229.000000,165800.000000,250.000000

In [119]:
print(X_test.shape)
X_test.head()

(2400, 16)

,ID,Age,Nationality,Overall,Club,Preferred_Foot,Work_Rate,Position,Position_Class,Jersey_Number,Contract_Valid_Until,Height,Height_cm,Weight_lb,Release_Clause,Wage
0,137351,34,Germany,79,FC Augsburg,Right,Medium/ High,CDM,Defender,10,2019,5'9,172.5,172,6500,28
1,207707,29,Brazil,77,Olympique Lyonnais,Left,Medium/ Medium,LB,Defender,20,2021,5'10,175.0,163,12400,54
2,242101,22,Korea Republic,64,Pohang Steelers,Right,High/ Medium,RW,Forward,18,2021,6'1,182.5,170,1000,2
3,200104,25,Korea Republic,84,Tottenham Hotspur,Right,High/ High,LM,Midfielder,7,2023,6'0,180.0,143,71200,125
4,244229,2*,Italy,66,Cittadella,Right,Medium/ Medium,CB,Defender,15,2020,6'2,NaN,170,1400,1

In [120]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    2400 non-null   int64
 1   Age                   2400 non-null   object
 2   Nationality           2400 non-null   object
 3   Overall               2400 non-null   int64
 4   Club                  2400 non-null   object
 5   Preferred_Foot        2400 non-null   object
 6   Work_Rate             2400 non-null   object
 7   Position              2400 non-null   object
 8   Position_Class        1891 non-null   object
 9   Jersey_Number         2400 non-null   int64
 10  Contract_Valid_Until  2400 non-null   int64
 11  Height                2400 non-null   object
 12  Height_cm             2212 non-null   float64
 13  Weight_lb             2400 non-null   int64
 14  Release_Clause        2400 non-null   int64
 15  Wage                  2400 non-null   int64
dtypes: float64(1), int64(7), object(8)
memory usage: 300.1+ KB

In [121]:
X_test.describe()

,ID,Overall,Jersey_Number,Contract_Valid_Until,Height_cm,Weight_lb,Release_Clause,Wage
count,2400.000000,2400.000000,2400.000000,2400.000000,2212.000000,2400.000000,2400.000000,2400.000000
mean,213967.265417,66.200000,19.720000,2020.251667,178.297920,165.845417,4796.633750,10.177500
std,31874.993242,7.053302,16.201985,1.287383,6.638623,15.311598,12610.117139,25.544364
min,16.000000,47.000000,1.000000,2018.000000,157.500000,121.000000,15.000000,1.000000
25%,200245.500000,62.000000,8.750000,2019.000000,172.500000,154.000000,521.500000,1.000000
50%,222183.000000,66.000000,17.000000,2020.000000,177.500000,165.000000,1100.000000,3.000000
75%,237457.750000,71.000000,26.000000,2021.000000,182.500000,176.000000,3400.000000,9.000000
max,246617.000000,92.000000,99.000000,2025.000000,200.000000,220.000000,228100.000000,455.000000

In [122]:
# FIFA_y_train, FIFA_X_train으로 시장 가치 예측모형을 만든 후 이를 FIFA_X_test에 적용하여 얻은 2,400명 선수의 시장 가치 예측값을 ID-Value 형식의 csv 파일로 생성
# 제출한 모델의 성능은 RMSE 평가지표에 따라 채점

In [123]:
# 데이터셋 전처리
print(X_train.isnull().sum())
print("-----------------------------")
print(X_test.isnull().sum())
print("-----------------------------")
print(y_train.isnull().sum())

ID                        0
Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          758
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               292
Weight_lb                72
Release_Clause            0
Wage                      0
dtype: int64
-----------------------------
ID                        0
Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position                  0
Position_Class          509
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               188
Weight_lb                 0
Release_Clause            0
Wage                      0
dtype: int64
-----------------------------
ID       0
Value    0
dtype: int64

In [124]:
# 결측치는 Position_Class, Height_cm, Weight_lb

In [125]:
# 나중에 제출하기 위해 X_test의 ID는 따로 저장해놓기
ID = X_test['ID'].copy()

In [126]:
# 결측치 삭제 전에 ID 열 삭제
X_train = X_train.drop(columns = 'ID', axis = 1)
X_test = X_test.drop(columns = 'ID', axis = 1)
y_train = y_train.drop(columns = 'ID', axis = 1)

In [127]:
# Position_Class 칼럼 결측치 채우기 (기존 Position 칼럼 활용)
X_train['Position_Class'].value_counts()

Position_Class
Defender      1400
Midfielder     790
Forward        652
Name: count, dtype: int64

In [128]:
X_train['Position_Class'] = X_train['Position_Class'].fillna('unknown')  # known으로 대체
X_train['Position_Class'].value_counts()

Position_Class
Defender      1400
Midfielder     790
unknown        758
Forward        652
Name: count, dtype: int64

In [129]:
# pandas.crosstab(index, columns)로 교차표 생성
pd.crosstab(index = X_train['Position'], columns = X_train['Position_Class'])

Position_Class  Defender  Forward  Midfielder  unknown
Position
CAM                    0        0         212        0
CB                   349        0           0        0
CDM                  178        0           0        0
CF                     0       12           0        0
CM                     0        0           0      295
GK                     0        0           0      391
LAM                    0        0           4        0
LB                   283        0           0        0
LCB                  136        0           0        0
LCM                    0        0          86        0
LDM                   48        0           0        0
LF                     0        0           0        3
LM                     0        0         208        0
LS                     0       42           0        0
LW                     0       71           0        0
LWB                   24        0           0        0
RAM                    0        0           5        0
RB                   263        0           0        0
RCB                  119        0           0        0
RCM                    0        0          65        0
RDM                    0        0           0       44
RF                     0        4           0        0
RM                     0        0         210        0
RS                     0       36           0        0
RW                     0       62           0        0
RWB                    0        0           0       25
ST                     0      425           0        0

In [130]:
# CM (Midfielder), GK (GoalKeeper), LF (Forward), RDM (Defender), RWB (Defender) >> 이게 unkown값임
# 다른 방법으로도 확인
position_class_unknown = X_train[['Position', 'Position_Class']]
position_class_unknown

     Position Position_Class
0          RW        Forward
1         LCB       Defender
2          LW        Forward
3          LW        Forward
4          ST        Forward
...       ...            ...
3595       CB       Defender
3596       ST        Forward
3597       ST        Forward
3598       RB       Defender
3599      LWB       Defender

[3600 rows x 2 columns]

In [131]:
position_class_unknown['Position_Class'].unique()

array(['Forward', 'Defender', 'Midfielder', 'unknown'], dtype=object)

In [132]:
# unknown 결측값 채우기
# CM (Midfielder), GK (GoalKeeper), LF (Forward), RDM (Defender), RWB (Defender)
position_class_unknown.loc[position_class_unknown['Position'] == 'CM', 'Position_Class'] = 'Midfielder'
position_class_unknown.loc[position_class_unknown['Position'] == 'GK', 'Position_Class'] = 'GoalKeeper'
position_class_unknown.loc[position_class_unknown['Position'] == 'RDM', 'Position_Class'] = 'Defender'
position_class_unknown.loc[position_class_unknown['Position'] == 'RWB', 'Position_Class'] = 'Defender'
position_class_unknown.loc[position_class_unknown['Position'] == 'LF', 'Position_Class'] = 'Forward'
position_class_unknown['Position_Class'].unique()

array(['Forward', 'Defender', 'Midfielder', 'GoalKeeper'], dtype=object)

In [133]:
# 결측값 채운 positioni_class_unknown df의 ['Position_Class'] 칼럼을 X_train df에 저장
X_train['Position_Class'] = position_class_unknown['Position_Class']
X_train['Position_Class'].unique()

array(['Forward', 'Defender', 'Midfielder', 'GoalKeeper'], dtype=object)

In [134]:
# X_test에 있는 null값에 대해서도 결측치 처리
X_test['Position_Class'] = X_test['Position_Class'].fillna('unknown')  # known으로 대체

# CM (Midfielder), GK (GoalKeeper), LF (Forward), RDM (Defender), RWB (Defender) >> 이게 unkown값임
position_class_unknown_test = X_test[['Position', 'Position_Class']]

# unknown 결측값 채우기
# CM (Midfielder), GK (GoalKeeper), LF (Forward), RDM (Defender), RWB (Defender)
position_class_unknown_test.loc[position_class_unknown_test['Position'] == 'CM', 'Position_Class'] = 'Midfielder'
position_class_unknown_test.loc[position_class_unknown_test['Position'] == 'GK', 'Position_Class'] = 'GoalKeeper'
position_class_unknown_test.loc[position_class_unknown_test['Position'] == 'RDM', 'Position_Class'] = 'Defender'
position_class_unknown_test.loc[position_class_unknown_test['Position'] == 'RWB', 'Position_Class'] = 'Defender'
position_class_unknown_test.loc[position_class_unknown_test['Position'] == 'LF', 'Position_Class'] = 'Forward'

# 결측값 채운 position_class_unknown_test df의 ['Position_Class'] 칼럼을 X_test df에 저장
X_test['Position_Class'] = position_class_unknown_test['Position_Class']
X_test['Position_Class'].unique()

array(['Defender', 'Forward', 'Midfielder', 'GoalKeeper'], dtype=object)

In [135]:
# X_train, X_test에서 ['Position'] 열 drop
X_train = X_train.drop(columns = 'Position')
X_test = X_test.drop(columns = 'Position')

In [136]:
# 다시 null값 확인
print(X_train.isnull().sum())
print('----------------------------')
print(X_test.isnull().sum())

Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position_Class            0
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               292
Weight_lb                72
Release_Clause            0
Wage                      0
dtype: int64
----------------------------
Age                       0
Nationality               0
Overall                   0
Club                      0
Preferred_Foot            0
Work_Rate                 0
Position_Class            0
Jersey_Number             0
Contract_Valid_Until      0
Height                    0
Height_cm               188
Weight_lb                 0
Release_Clause            0
Wage                      0
dtype: int64

In [137]:
# Height_cm은 train에서 292개, test에서 188개
# feat&inch 단위를 cm로 변환해서 저장
height_train = X_train['Height'].copy()
height_cm_train = X_train['Height_cm'].copy()

In [138]:
# '을 기준으로 앞은 피트 (*30), 뒤는 인치(*2.5)
# 우선 '을 기준으로 문자열 분리
split_height = height_train.str.split("'", expand = True).astype('float64')
split_height

        0     1
0     5.0   8.0
1     6.0   0.0
2     5.0   9.0
3     5.0  10.0
4     5.0  10.0
...   ...   ...
3595  6.0   6.0
3596  5.0  10.0
3597  6.0   0.0
3598  5.0  10.0
3599  5.0  10.0

[3600 rows x 2 columns]

In [139]:
# 결측치 대체
height_cm_train = height_cm_train.fillna(split_height[0] * 30 + split_height[1] * 2.5)
X_train['Height_cm'] = height_cm_train
X_train['Height_cm'].isnull().sum()

0

In [140]:
# test 데이터의 결측치도 대체
height_test = X_test['Height'].copy()
height_cm_test = X_test['Height_cm'].copy()

split_height_test = height_test.str.split("'", expand = True).astype('float64')

height_cm_test = height_cm_test.fillna(split_height_test[0] * 30 + split_height_test[1] * 2.5)
X_test['Height_cm'] = height_cm_test
X_test['Height_cm'].isnull().sum()

0

In [141]:
# 인치 단위 Height 열 삭제
X_train = X_train.drop(columns = 'Height')
X_test = X_test.drop(columns = 'Height')

In [142]:
# 다시 결측치 확인
print(X_train.isnull().sum())
print('----------------------------')
print(X_test.isnull().sum())

Age                      0
Nationality              0
Overall                  0
Club                     0
Preferred_Foot           0
Work_Rate                0
Position_Class           0
Jersey_Number            0
Contract_Valid_Until     0
Height_cm                0
Weight_lb               72
Release_Clause           0
Wage                     0
dtype: int64
----------------------------
Age                     0
Nationality             0
Overall                 0
Club                    0
Preferred_Foot          0
Work_Rate               0
Position_Class          0
Jersey_Number           0
Contract_Valid_Until    0
Height_cm               0
Weight_lb               0
Release_Clause          0
Wage                    0
dtype: int64

In [143]:
# X_train의 Weight_lb에 72개의 결측치가 있음
# 결측치가 X_train 기준으로 2%이므로 결측치가 있는 행 삭제 (y_train에서도 삭제해야 함)
# 주의) 시험에서 test 데이터에 결측치가 있다면 삭제 X, 평균대치법으로 대치하기
cond_na = X_train['Weight_lb'].isna()
cond_na

0       False
1       False
2       False
3       False
4       False
        ...
3595    False
3596    False
3597    False
3598    False
3599    False
Name: Weight_lb, Length: 3600, dtype: bool

In [144]:
y_train = y_train[~ cond_na]
X_train = X_train[~ cond_na]

In [145]:
# 레코드 삭제 후 shape 확인
print(X_train.shape)
print(y_train.shape)

(3528, 13)
(3528, 1)

In [146]:
# 카테고리형 컬럼 전처리
# 문자형 컬럼의 유일값 확인
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3528 entries, 0 to 3599
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   3528 non-null   object
 1   Nationality           3528 non-null   object
 2   Overall               3528 non-null   int64
 3   Club                  3528 non-null   object
 4   Preferred_Foot        3528 non-null   object
 5   Work_Rate             3528 non-null   object
 6   Position_Class        3528 non-null   object
 7   Jersey_Number         3528 non-null   int64
 8   Contract_Valid_Until  3528 non-null   int64
 9   Height_cm             3528 non-null   float64
 10  Weight_lb             3528 non-null   float64
 11  Release_Clause        3528 non-null   int64
 12  Wage                  3528 non-null   int64
dtypes: float64(2), int64(5), object(6)
memory usage: 385.9+ KB

In [147]:
# 카테고리형 컬럼 전처리
# 문자형 컬럼의 유일값 확인 (.select_dtypes() 메소드는 원하는 dtype을 가진 df만 추출)
print(X_train.select_dtypes('object').nunique())
print('-------------------------------')
print(X_test.select_dtypes('object').nunique())

Age                29
Nationality       129
Club              648
Preferred_Foot      2
Work_Rate           9
Position_Class      4
dtype: int64
-------------------------------
Age                31
Nationality       116
Club              634
Preferred_Foot      2
Work_Rate           9
Position_Class      4
dtype: int64

In [148]:
# Age 컬럼은 원래 수치형으로 되어있어야 하는데 마스킹처리된 값이 있어서 object형으로 인식
print(X_train['Age'].unique())

['2*' '29' '23' '22' '18' '19' '30' '24' '20' '21' '17' '35' '28' '3*'
 '32' '25' '31' '26' '27' '1*' '16' '34' '38' '33' '36' '37' '42' '39'
 '41']

In [149]:
# 마스킹되어있으므로 십의 자리만 추출해서 Age_gp(연령대) 파생변수 만들기
X_train['Age_gp'] = X_train['Age'].str[0]
X_test['Age_gp'] = X_test['Age'].str[0]
print(X_train['Age_gp'].unique())
print(X_test['Age_gp'].unique())

['2' '1' '3' '4']
['3' '2' '1' '4']

In [150]:
# 파생변수 만든 후 Age 열 삭제
X_train = X_train.drop(columns = 'Age', axis = 1)
X_test = X_test.drop(columns = 'Age', axis = 1)

In [151]:
print(X_train.columns)
print(X_test.columns)

Index(['Nationality', 'Overall', 'Club', 'Preferred_Foot', 'Work_Rate',
       'Position_Class', 'Jersey_Number', 'Contract_Valid_Until', 'Height_cm',
       'Weight_lb', 'Release_Clause', 'Wage', 'Age_gp'],
      dtype='object')
Index(['Nationality', 'Overall', 'Club', 'Preferred_Foot', 'Work_Rate',
       'Position_Class', 'Jersey_Number', 'Contract_Valid_Until', 'Height_cm',
       'Weight_lb', 'Release_Clause', 'Wage', 'Age_gp'],
      dtype='object')

In [152]:
# 'Club' 열은 필요하지 않을 것 같으므로 열 삭제
X_train = X_train.drop(columns = 'Club', axis = 1)
X_test = X_test.drop(columns = 'Club', axis = 1)

In [153]:
print(X_train.columns)
print(X_test.columns)

Index(['Nationality', 'Overall', 'Preferred_Foot', 'Work_Rate',
       'Position_Class', 'Jersey_Number', 'Contract_Valid_Until', 'Height_cm',
       'Weight_lb', 'Release_Clause', 'Wage', 'Age_gp'],
      dtype='object')
Index(['Nationality', 'Overall', 'Preferred_Foot', 'Work_Rate',
       'Position_Class', 'Jersey_Number', 'Contract_Valid_Until', 'Height_cm',
       'Weight_lb', 'Release_Clause', 'Wage', 'Age_gp'],
      dtype='object')

In [154]:
# Preferred_Foot 칼럼은 선수가 주요 사용하는 발을 의미함. Right에 비해 Left가 적지만 엄청 적은건 아니므로 일단 냅두기
print(X_train['Preferred_Foot'].value_counts())
print('------------------------------------')
print(X_test['Preferred_Foot'].value_counts())

Preferred_Foot
Right    2682
Left      846
Name: count, dtype: int64
------------------------------------
Preferred_Foot
Right    1854
Left      546
Name: count, dtype: int64

In [155]:
# Work_Rate 공격 운동량/ 방어 운동량 컬럼임. /을 기준으로 WR_attack(공격 운동량), WR_defend(방어 운동량) 컬럼으로 생성
# / 뒤에 있는 공백 하나 먼저 제거 필요 >> /을 기준으로 문자열 분리 >> 열 생성
print(X_train['Work_Rate'].value_counts())
print('------------------------------------')
print(X_test['Work_Rate'].value_counts())

Work_Rate
Medium/ Medium    1887
High/ Medium       644
Medium/ High       330
High/ High         210
Medium/ Low        168
High/ Low          120
Low/ High           94
Low/ Medium         72
Low/ Low             3
Name: count, dtype: int64
------------------------------------
Work_Rate
Medium/ Medium    1296
High/ Medium       426
Medium/ High       225
High/ High         135
Medium/ Low        113
High/ Low          102
Low/ Medium         52
Low/ High           48
Low/ Low             3
Name: count, dtype: int64

In [156]:
work_rate_train = X_train['Work_Rate'].copy()           # Work_Rate 컬럼만 새로운 df에 저장
work_rate_train = work_rate_train.str.replace(' ', '')  # 공백 제거

X_train['WR_attack'] = work_rate_train.str.split('/', expand = True)[0]     # /을 기준으로 파생변수 WR_attack 생성
X_train['WR_defend'] = work_rate_train.str.split('/', expand = True)[1]     # /을 기준으로 파생변수 WR_defend 생성

X_train = X_train.drop(columns = 'Work_Rate', axis = 1)                     # 열 삭제
X_train.head(3)

,Nationality,Overall,Preferred_Foot,Position_Class,Jersey_Number,Contract_Valid_Until,Height_cm,Weight_lb,Release_Clause,Wage,Age_gp,WR_attack,WR_defend
0,Argentina,81,Right,Forward,18,2019,170.0,170.0,37000,19,2,High,Medium
1,Denmark,66,Left,Defender,18,2019,180.0,179.0,625,4,2,High,Medium
2,Guinea Bissau,68,Left,Forward,11,2020,172.5,163.0,2000,2,2,High,Low

In [157]:
# test 데이터에도 똑같이 적용
work_rate_test = X_test['Work_Rate'].copy()           # Work_Rate 컬럼만 새로운 df에 저장
work_rate_test = work_rate_test.str.replace(' ', '')  # 공백 제거

X_test['WR_attack'] = work_rate_test.str.split('/', expand = True)[0]     # /을 기준으로 파생변수 WR_attack 생성
X_test['WR_defend'] = work_rate_test.str.split('/', expand = True)[1]     # /을 기준으로 파생변수 WR_defend 생성

X_test = X_test.drop(columns = 'Work_Rate', axis = 1)                     # 열 삭제
X_test.head(3)

,Nationality,Overall,Preferred_Foot,Position_Class,Jersey_Number,Contract_Valid_Until,Height_cm,Weight_lb,Release_Clause,Wage,Age_gp,WR_attack,WR_defend
0,Germany,79,Right,Defender,10,2019,172.5,172,6500,28,3,Medium,High
1,Brazil,77,Left,Defender,20,2021,175.0,163,12400,54,2,Medium,Medium
2,Korea Republic,64,Right,Forward,18,2021,182.5,170,1000,2,2,High,Medium

In [158]:
# 수치형 컬럼 전처리
print(X_train.select_dtypes(['int64', 'float64']).nunique())
print('-------------------------------')
print(X_test.select_dtypes(['int64', 'float64']).nunique())

Overall                  44
Jersey_Number            91
Contract_Valid_Until      9
Height_cm                20
Weight_lb                50
Release_Clause          810
Wage                    108
dtype: int64
-------------------------------
Overall                  45
Jersey_Number            82
Contract_Valid_Until      8
Height_cm                18
Weight_lb                44
Release_Clause          713
Wage                     97
dtype: int64

In [159]:
# Jersey_Number (등번호)는 선수의 시장가치를 예측하는 데 필요하지 않을 것이므로 컬럼 삭제
X_train = X_train.drop(columns = 'Jersey_Number', axis = 1)
X_test = X_test.drop(columns = 'Jersey_Number', axis = 1)

In [160]:
# Contract_Vaild_Until(계약 만료연도)로 숫자 데이터지만 카테고리의 의미를 가지므로 카테고리(명목형)으로 dtype 변환하기
# 유일값을 확인하고 >> dtype을 변환해서 파생변수로 생성
print("X_train: ", X_train['Contract_Valid_Until'].unique())
print("X_test: ", X_test['Contract_Valid_Until'].unique())

X_train:  [2019 2020 2022 2021 2018 2023 2024 2025 2026]
X_test:  [2019 2021 2023 2020 2022 2018 2024 2025]

In [161]:
# CVU_gp 컬럼을 만들어서 따로 저장
X_train['CVU_gp'] = X_train['Contract_Valid_Until'].astype('object')
X_test['CVU_gp'] = X_test['Contract_Valid_Until'].astype('object')

In [162]:
# Contract_Vaild_Until 열 삭제
X_train = X_train.drop(columns = 'Contract_Valid_Until', axis = 1)
X_test = X_test.drop(columns = 'Contract_Valid_Until', axis = 1)

In [163]:
print(X_train.info())
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3528 entries, 0 to 3599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nationality     3528 non-null   object
 1   Overall         3528 non-null   int64
 2   Preferred_Foot  3528 non-null   object
 3   Position_Class  3528 non-null   object
 4   Height_cm       3528 non-null   float64
 5   Weight_lb       3528 non-null   float64
 6   Release_Clause  3528 non-null   int64
 7   Wage            3528 non-null   int64
 8   Age_gp          3528 non-null   object
 9   WR_attack       3528 non-null   object
 10  WR_defend       3528 non-null   object
 11  CVU_gp          3528 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 358.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nationality     2400 non-null   object
 1   Overall         2400 non-null   int64
 2   Preferred_Foot  2400 non-null   object
 3   Position_Class  2400 non-null   object
 4   Height_cm       2400 non-null   float64
 5   Weight_lb       2400 non-null   int64
 6   Release_Clause  2400 non-null   int64
 7   Wage            2400 non-null   int64
 8   Age_gp          2400 non-null   object
 9   WR_attack       2400 non-null   object
 10  WR_defend       2400 non-null   object
 11  CVU_gp          2400 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 225.1+ KB
None

In [164]:
# Overall, Height_cm, Weight_lb, Release_Clause, Wage 컬럼은 실제 수치의 의미를 가지는 수치형 데이터임
# 상관관계 먼저 확인
col_conti = ['Overall', 'Height_cm', 'Weight_lb', 'Release_Clause', 'Wage']
X_train[col_conti].corr()

                 Overall  Height_cm  Weight_lb  Release_Clause      Wage
Overall         1.000000   0.033070   0.142888        0.630162  0.593469
Height_cm       0.033070   1.000000   0.763351       -0.007983 -0.001661
Weight_lb       0.142888   0.763351   1.000000        0.033941  0.053856
Release_Clause  0.630162  -0.007983   0.033941        1.000000  0.835107
Wage            0.593469  -0.001661   0.053856        0.835107  1.000000

In [165]:
# Release_Clause와 Wage의 상관관계가 0.8351로 강한 상관관계를 확인할 수 있음
# >> Release_Clause와 Wage 중에서 하나만 사용하기로
# >> Wage 선택 & Release_Clause 열 삭제
X_train = X_train.drop(columns = 'Release_Clause', axis = 1)
X_test = X_test.drop(columns = 'Release_Clause', axis = 1)

In [166]:
# 데이터 전처리를 끝낸 df 확인
X_train.head(3)

,Nationality,Overall,Preferred_Foot,Position_Class,Height_cm,Weight_lb,Wage,Age_gp,WR_attack,WR_defend,CVU_gp
0,Argentina,81,Right,Forward,170.0,170.0,19,2,High,Medium,2019
1,Denmark,66,Left,Defender,180.0,179.0,4,2,High,Medium,2019
2,Guinea Bissau,68,Left,Forward,172.5,163.0,2,2,High,Low,2020

In [167]:
# 데이터 적합
# 모델의 과적합 방지와 튜닝을 위해 X_train, y_train을 학습용 (X_train, y_train)과 검증용 (X_val, y_val)로 분할
# 7:3
from sklearn.model_selection import train_test_split
X_TRAIN, X_val,y_TRAIN, y_val = train_test_split(X_train,
                                                  y_train,
                                                  random_state = 1234,
                                                  test_size = 0.3)

In [168]:
# 분할된 모델의 shape 확인
print(X_TRAIN.shape)
print(y_TRAIN.shape)
print(X_val.shape)
print(y_val.shape)

(2469, 11)
(2469, 1)
(1059, 11)
(1059, 1)

In [169]:
# 인코딩
# 카테고리형 컬럼에 대해 one-hot encoding 수행
from sklearn.preprocessing import OneHotEncoder

In [170]:
# 인코딩할 명목형 컬럼만 따로 저장
X_TRAIN_category = X_TRAIN.select_dtypes('object').copy()
X_val_category = X_val.select_dtypes('object').copy()
X_TEST_category = X_test.select_dtypes('object').copy()

In [171]:
# Nationality의 유일값 수가 데이터셋마다 다름
# handle_unknown = 'ignore'은 Train에 없는 레이블이 Test에 있더라도 모두 0이 됨
enc = OneHotEncoder(handle_unknown = 'ignore', sparse = False).fit(X_TRAIN_category)

C:\Users\kbr_u\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [172]:
# One-Hot Encoding
X_TRAIN_OH = enc.transform(X_TRAIN_category)
X_val_OH = enc.transform(X_val_category)
X_TEST_OH = enc.transform(X_TEST_category)

In [173]:
# 스케일링 >> 수치형 칼럼에 대해 z-score 표준화
# X_TRAIN의 평균과 표준편차를 X_val과 X_TEST에 반영하기 위해 fit() 메소드를 학습 데이터에만 적용하고 transfrom은 모든 데이터에 적용
from sklearn.preprocessing import StandardScaler

In [174]:
# 스케일링할 컬럼만 따로 저장
col_conti = ['Overall', 'Height_cm', 'Weight_lb', 'Wage']

# 아니면 위에서 핬던 select_dtypes() 함수 이용
X_TRAIN_conti = X_TRAIN.select_dtypes(['int64', 'float64']).copy()
X_val_conti = X_val.select_dtypes(['int64', 'float64']).copy()
X_TEST_conti = X_test.select_dtypes(['int64', 'float64']).copy()

In [175]:
# TRAIN 데이터 기준으로 스케일링
scale = StandardScaler().fit(X_TRAIN_conti)

In [176]:
# z-score 점수 표준화
X_TRAIN_std = scale.transform(X_TRAIN_conti)
X_val_std = scale.transform(X_val_conti)
X_TEST_std = scale.transform(X_TEST_conti)

In [177]:
# 인코딩한 데이터 + 스케일링한 데이터 합치기 (numpy.concatenate() 함수 사용)
X_TRAIN = np.concatenate( [X_TRAIN_OH, X_TRAIN_std], axis = 1)
X_val = np.concatenate( [X_val_OH, X_val_std], axis = 1)
X_TEST = np.concatenate( [X_TEST_OH, X_TEST_std], axis = 1)

In [178]:
# 1차원 넘파이 ndarray로 평탄화
y_TRAIN = y_TRAIN.values.ravel()
y_val = y_val.values.ravel()

In [179]:
# 모델학습 (랜덤포레스트, 배깅, AdaBoost)
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, BaggingRegressor, AdaBoostRegressor

In [180]:
# 1. RandomForest
rf = RandomForestRegressor(n_estimators = 500,
                           max_depth = 3, 
                           min_samples_leaf = 10,
                           max_features = 50,
                           random_state = 2022)
model_rf = rf.fit(X_TRAIN, y_TRAIN)

In [181]:
# 2. Bagging
dtr = DecisionTreeRegressor(max_depth = 3,
                            min_samples_leaf = 10)
bg = BaggingRegressor(base_estimator = dtr,
                      n_estimators = 500,
                      random_state = 2022)
model_bg = bg.fit(X_TRAIN, y_TRAIN)

C:\Users\kbr_u\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

In [182]:
# 3. AdaBoost
dtr = DecisionTreeRegressor(max_depth = 3,
                            min_samples_leaf = 10)
ada = AdaBoostRegressor(base_estimator = dtr,
                        n_estimators = 500,
                        learning_rate = 0.5,
                        random_state = 2022)
model_ada = ada.fit(X_TRAIN, y_TRAIN)

C:\Users\kbr_u\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

In [183]:
# 성능평가로 모델 선정 (RSME)
from sklearn.metrics import mean_squared_error

In [184]:
pred_rf = model_rf.predict(X_val)
pred_bg = model_bg.predict(X_val)
pred_ada = model_ada.predict(X_val)

In [185]:
# RMSE 계산
rmse_rf = mean_squared_error(y_val, pred_rf, squared = False)
rmse_bg = mean_squared_error(y_val, pred_bg, squared = False)
rmse_ada = mean_squared_error(y_val, pred_ada, squared = False)

In [186]:
print("RandomForest RMSE: ", round(rmse_rf, 4))
print("Bagging RMSE: ", round(rmse_bg, 4))
print("AdaBoost RMSE: ", round(rmse_ada, 4))

RandomForest RMSE:  1846.2123
Bagging RMSE:  1502.8948
AdaBoost RMSE:  2396.3521

In [187]:
# MAPE
from sklearn.metrics import mean_absolute_percentage_error
rmse_rf = mean_absolute_percentage_error(y_val, pred_rf)
rmse_bg = mean_absolute_percentage_error(y_val, pred_bg)
rmse_ada = mean_absolute_percentage_error(y_val, pred_ada)

print("RandomForest MAPE: ", round(rmse_rf, 4))
print("Bagging MAPE: ", round(rmse_bg, 4))
print("AdaBoost MAPE: ", round(rmse_ada, 4))

RandomForest MAPE:  2.67
Bagging MAPE:  1.1883
AdaBoost MAPE:  8.0783

In [188]:
# 가장 성능이 좋은 배깅으로 결과 제출
# X_TEST를 통해 문제에서 요구하는 예측값을 구하고 .csv 파일로 저장
y_pred = model_bg.predict(X_TEST)
y_pred

array([11552.7930596 ,  8235.56327703,   525.62404726, ...,
         525.62404726,  2207.44301141,  2607.36680792])

In [189]:
# 문제에서 요구하는 형태로 변환 필요
obj = {'ID' : ID, 
       'Purchase' : y_pred}
result = pd.DataFrame(obj)
result

          ID      Purchase
0     137351  11552.793060
1     207707   8235.563277
2     242101    525.624047
3     200104  37652.504525
4     244229    525.624047
...      ...           ...
2395  177922   4032.653009
2396  245525    525.624047
2397  227949    525.624047
2398  176773   2207.443011
2399  232512   2607.366808

[2400 rows x 2 columns]

In [190]:
result.to_csv("12345.csv", index = False)