## Part 01 파이썬 기초- 1장 파이썬 기초
### 2절: 파이썬 기초 중의 기초

#### 변수 (Variable)

In [1]:
name = 'Jane'
number = 1

name, number

('Jane', 1)

#### 기초 연산자 1 - 산술 연산자 (Arithmetic operator)

In [3]:
7 + 3   # 더하기

10

In [4]:
7 - 3   # 빼기

4

In [5]:
7 * 3   # 곱하기

21

In [6]:
7 / 3   # 나누기

2.3333333333333335

In [8]:
7 % 3   # 나머지

1

In [9]:
7 // 3  # 몫

2

In [10]:
7 ** 3  # 제곱

343

#### 기초 연산자2 - 할당 연산자 (Assignment operator)

In [12]:
a = 7   # a에 7 할당
a

7

In [17]:
a = 7
a += 3  # a에 할당된 7에 3을 더한 값 재할당 (a = a + 3)
a

10

In [15]:
a = 7
a -= 3  # a에 할당된 7에 3을 뺀 값을 재할당 (a = a - 3)
a

4

In [16]:
a = 7
a *= 3  # a에 할당된 7에 3을 곱한 값을 재할당 (a = a * 3)
a

21

In [18]:
a = 7
a /= 3  # a에 할당된 7에 3을 나눈 값을 재할당 (a = a / 3)
a

2.3333333333333335

In [21]:
a = 7
a //= 3  # a에 할당된 7에 3으로 나눈 값의 몫을 재할당 (a = // 3)
a

2

In [22]:
a = 7
a %= 3  #a에 할당된 7에 3으로 나눈 값의 나머지를 재할당 (a = a % 3)
a

1

In [23]:
a = 7
a **= 3  # a에 할당된 7에 3을 제곱한 값을 재할당 (a = a ** 3)
a

343

#### 기초 연산자3 - 비교 연산자 (Comparision operator)

In [24]:
a = 7; b = 3
a == b

False

In [25]:
a != b

True

In [26]:
a > b

True

In [27]:
a < b

False

In [28]:
a >= b

True

In [29]:
a <= b

False

#### 기초 연산자4 - 논리 연산자 (Logical operator)

In [31]:
a = 7; b = 3; c = 5; d = 1

(a > b) and (c < d)  # True and False

False

In [32]:
(a > b) or (c < d) # True or False

True

In [33]:
not(a > b) # not(True)

False

In [37]:
not(c < d) # not(False)

True

#### 기초 연산자5 - 기타 연산자
- 추가적으로 항등 연산자(Identity operator), 멤버 연산자 (Membership operator) 그리고 비트 연산자 (Bitwise operator)가 있음

#### 연산자 우선순위
1. ** (산술 연산자)
2. +, -, ~ (단항 연산자(부호))
3. *, /, //, % (산술 연산자)
4. +, - (산술 연산자)
5. 비트 연산자, 멤버 연산자, 항등 연산자
6. <, <=, >, >=, !=, == (비교 연산자)
7. not (논리 연산자)
8. and (논리 연산자)
9. or (논리 연산자)
10. = (대입 연산자)
11. +=, -=, *=, /=, ... (대입 연산자)

### 3절: 데이터 타입

#### 숫자형 (Number)
- 숫자형은 일반적인 숫자 형태로 이루어진 데이터 타입으로 정수(Integer), 실수(Float)를 의미
- 8진수와 16진수도 표현 가능하나, 본 수험서에는 이를 생략함
- 내장함수 int()와 float()를 통해 각각 정수, 실수로 데이터 타입을 변환할 수 있음

In [36]:
a = 1     # 정수
b = 2.7   # 실수
print(a)
print(b)

1
2.7

#### 시퀀스형 (Sequence)
- 여러 객체를 저장하는 데이터 타입으로 일반적으로 각 객체는 순서를 지닌(연속적으로 이어진) 형태로 구성되어 있음
- 시퀀스 객체에 저장되어 있는 각 객체들은 요소(element; 원소)라고 불리며 시퀀스 객체는 0개 이상의 요소를 저장할 수 있음
- 이 순서를 **위치 인덱스 번호**라고 하며, 시퀀스형에서 인덱스 번호는 왼쪽에서부터 오른쪽으로 부여되며, 시작은 0번 (역순 번호는 오른쪽에서부터 -1번으로 시작)
- 시퀀스형에 속하는 객체는 **문자열(string), 리스트(list), 튜플(tuple), range**가 있으며 모두 반복가능(iterable)한 객체라는 특징이 있음
- 특히 문자열, 튜플, range는 불변한(immutable) 객체(읽기 전용)으로 저장된 요소를 변경할 수 없음

#### 문자열 (String)
- 문자 혹은 단어 등으로 구성된 문자들의 집합을 의미
- 큰 따옴표(""), 작은 따옴표(''), 큰 따옴표 연속 3개("""), 작은 따옴표 연속 3개(''')를 둘러싸는 방법으로 입력 가능
- 따옴표 연속 3개를 둘러싸는 방법은 줄바꿈(/n)까지 허용
- 문자열 내 따옴표가 포함될 경우 상이한 따옴표를 둘러싸는 방법으로 입력 가능
- 내장함수 str()를 통해 빈 문자의 생성과 문자열로 데이터 타입을 변환할 수 있음

In [44]:
string1 = "BigData, A.I Technology Expert Group"        # 큰 따옴표로 둘러싸기
string2 = 'BigData, A.I Technology Expert Group'        # 작은 따옴표로 둘러싸기
string3 = """BigData, A.I Technology Expert Group"""    # 큰 따옴표 3개로 둘러싸기
string4 = '''BigData, A.I Technology Expert Group'''    # 작은 따옴표 3개로 둘러싸기
string5 = '''BigData,
A.I Technology Expert Group'''                          # 작은 따옴표 연속 3개는 줄바꿈 허용 - 엔터
string6 = """BigData, \nA.I Technology Expert Group"""  # 큰 따옴표 연속 3개는 줄바꿈 허용 - \n 사용

print(string1)
print(string2)
print(string3)
print(string4)
print(string5)
print(string6)

BigData, A.I Technology Expert Group
BigData, A.I Technology Expert Group
BigData, A.I Technology Expert Group
BigData, A.I Technology Expert Group
BigData,
A.I Technology Expert Group
BigData,
A.I Technology Expert Group

#### 리스트 (List)
- **대괄호 []** 를 사용해 저장할 수 있으며 저장되는 요소는 서로 다른 데이터 타입도 가능할 뿐만 아니라 어떠한 객체(데이터 타입)도 포함
- 내장함수 list()를 통해 빈 리스트의 생성(대괄호로 가능)과 리스트로 데이터 타입을 변환할 수 있음

In [45]:
list1 = [1, 2, 3, 4]         # 숫자일 경우
list2 = ['D', 'a', 'T', 'a'] # 문자일 경우
list3 = [1, 2, 'D', 'a']     # 숫자 + 문자
list4 = []                   # 빈 리스트
list5 = list()               # list() 함수로 빈 리스트 생성

print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[1, 2, 3, 4]
['D', 'a', 'T', 'a']
[1, 2, 'D', 'a']
[]
[]

#### 튜플 (Tuple)
- 리스트와 유사한 데이터 타입이며 **소괄호 ()** 로 감싸는 방법을 통해 저장 가능
- 값의 생성/삭제 등이 불가능함
- 튜플 역시 저장되는 요소는 서로 다른 데이터 타입도 가능하고 어떠한 객체(데이터 타입)도 포함될 수 있음
- 내장함수 tuple()을 통해 빈 튜플 생성(소괄호로도 가능)과 튜플로 데이터 타입을 변환할 수 있음

In [46]:
tuple1 = (1, 2, 3, 4)         # 숫자일 경우
tuple2 = ('D', 'a', 'T', 'a') # 문자일 경우
tuple3 = (1, 2, 'D', 'a')     # 숫자 + 문자
tuple4 = ()                   # 빈 튜플
tuple5 = tuple()              # tuple()로 빈 튜플 생성

print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)
print(tuple5)

(1, 2, 3, 4)
('D', 'a', 'T', 'a')
(1, 2, 'D', 'a')
()
()

In [47]:
# 리스트 안 리스트, 리스트 안 튜플, 튜플 안 리스트, 튜플 안 튜플
list6 = [list1, tuple2]
tuple6 = (tuple1, list2)

print(list6)
print(tuple6)

[[1, 2, 3, 4], ('D', 'a', 'T', 'a')]
((1, 2, 3, 4), ['D', 'a', 'T', 'a'])

#### range
- 정수를 일정한 규칙의 배열로 나열해 생성하는 숫자열 객체
- 리스트와 유사하지만, 수열의 형태를 요소로 가지는 리스트를 생성하는 것과 range로 생성하는 것은 다른 데이터 타입을 가짐
- 내장함수 range()를 통해 생성 가능하고 범위를 정하면 요소가 자동으로 생성되는 편리함을 가지고 있어 주로 반복문에 많이 사용됨
- **range(start, end, step)** : start 숫자에서 step 간격으로 증가하여 end 전(end를 포함하지 않는) 숫자까지 숫자열 생성
- start를 생략할 경우 0부터 시작
- step을 생략할 경우 간격을 1로 생성, step이 음수인 경우 감소하는 형태로 생성할 수 있음
- range(0)은 빈 range 의미

In [51]:
range1 = range(0, 1)
range2 = range(10)
range3 = range(10, 0, -1)
range4 = range(0)
range5 = range(10, -1)

# range형은 print() 문을 사용해도 구성요소를 확인할 수 없음
print(range1)

# 리스트형으로 변환하여 출력
print(list(range2))

range(0, 1)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

시퀀스형 연산에는 인덱싱(Indexing), 슬라이싱(slicing), 연결(Concatenation), 반복(Repetition), 길이 정보 등이 있음  

#### 시퀀스형 연산 1 - 인덱싱
- 인덱싱이란 인덱스 번호를 통해 하나의 객체를 참조하는 것 의미
- 즉, [k]는 k번째 위치의 값 하나를 참조하는 것

In [52]:
st = "Hello World!"
li = [0, 1, 2, 3, 4, 5]
tu = (0, 1, 2, 3, 4, 5)
ran = range(0, 10)

In [53]:
# 문자열 인덱싱
print(st[0], st[-1], st[10], st[-6])

# 리스트 인덱싱
print(li[0], li[3], li[-1])

# 튜플 인덱싱
print(tu[0], tu[4], tu[-2])

# range 인덱싱
print(ran[0], ran[3], ran[-4])

H ! d W
0 3 5
0 4 4
0 3 6

In [55]:
# 인덱싱을 통한 리스트의 특정 객체 수정
print(li)
li[5] = 100
print(li)

# 문자열, 튜플, range는 불변한 객체 타입이므로 인덱스를 통하여 수정하는 것 불가능

[0, 1, 2, 3, 4, 100]
[0, 1, 2, 3, 4, 100]

#### 시퀀스형 연산2 - 슬라이싱
- 데이터의 일부를 잘라내는 것
- [k1:k2]는 k1에서 k2 사이의 구간 내의 객체를 추출하며, k1과 k2는 생략 가능하다 (생략할 경우 가장 처음과 끝의 인덱스가 됨)

In [58]:
# 문자열 슬라이싱
print(st[0:7])
print(st[:])

# 리스트 슬라이싱
print(li[2:4])
print(li[:])

# 튜플 슬라이싱
print(tu[1:3])
print(tu[:])

# range 슬라이싱
print(ran[3:5])
print(ran[:])

Hello W
Hello World!
[2, 3]
[0, 1, 2, 3, 4, 100]
(1, 2)
(0, 1, 2, 3, 4, 5)
range(3, 5)
range(0, 10)

#### 시퀀스형 연산3 - 연결
- 여러 개의 시퀀스형을 연결하는 것
- **+** 연산자를 이용하면 연결 가능 (range 제외)

In [59]:
# 문자열 연결
'Data' + 'Edu'

'DataEdu'

In [60]:
# 리스트 연결
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [61]:
# 튜플 연결
(5, 4, 3) + (2, 1, 0)

(5, 4, 3, 2, 1, 0)

#### 시퀀스형 연산4 - 반복
- 시퀀스형을 원하는 횟수만큼 반복하는 것
- **\*** 연산자를 이용하면 반복이 가능 (range 제외)
- 0을 곱하면 빈 리스트가 됨

In [62]:
# 문자열 반복
'Data' * 4

'DataDataDataData'

In [63]:
# 리스트 반복
[3, 4, 5] * 2

[3, 4, 5, 3, 4, 5]

In [64]:
# 튜플 반복
(1, 2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

#### 시퀀스형 연산5 - 길이 정보
- 내장함수 **len()** 함수를 통해 시퀀스형의 길이 정보 확인이 가능함

In [65]:
# 문자열 길이 정보
print(len(st))

# 리스트 길이 정보
print(len(li))

# 튜플 길이 정보
print(len(tu))

# range 길이 정보
print(len(ran))

12
6
6
10

#### 시퀀스형 주요 내장함수와 메소드
1. **sum(시퀀스객체)** : 시퀀스객체(문자열 제외) 요소의 합을 반환
2. **max(시퀀스객체)** : 시퀀스객체의 요소 중 가장 큰 요소 반환
3. **min(시퀀스객체)** : 시퀀스객체의 요소 중 가장 작은 요소 반환
4. **sorted(시퀀스객체)** : 시퀀스객체 정렬 후 리스트로 반환
5. **reversed(시퀀스객체)** : 시퀀스객체의 요소 순서를 역순으로 반환

In [68]:
# sum
print(sum(li), sum(tu), sum(ran))

# max
print(max(st), max(li), max(tu), max(ran))

# min
print(min(st), min(li), min(tu), min(ran))

# sorted
print(sorted(st), sorted(li), sorted(tu), sorted(ran))

# reversed
print(list(reversed(st)), list(reversed(li)), list(reversed(tu)), list(reversed(ran)))

110 15 45
r 100 5 9
  0 0 0
[' ', '!', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r'] [0, 1, 2, 3, 4, 100] [0, 1, 2, 3, 4, 5] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['!', 'd', 'l', 'r', 'o', 'W', ' ', 'o', 'l', 'l', 'e', 'H'] [100, 4, 3, 2, 1, 0] [5, 4, 3, 2, 1, 0] [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

1. **시퀀스객체.index(요소)** : 시퀀스객체 내 해당 요소의 위치 인덱스 번호
2. **시퀀스객체.count(요소)** : 시퀀스객체 내 해당 요소의 빈도

In [72]:
# index
print(st.index('d'))
print(li.index(3))
print(tu.index(4))
print(ran.index(4))

10
3
4
4

In [73]:
# count
print(st.count('e'))
print(li.count(3))
print(tu.count(4))
print(ran.count(4))

1
1
1
1

#### 리스트객체에서만 사용되는 주요 메소드 (다른 시퀀스형에는 사용 불가)

1. **리스트.append(요소)** : 리스트의 맨 뒤에 요소 추가
2. **리스트.insert(인덱스, 요소)** : 리스트의 특정 인덱스에 요소 추가
3. **리스트.remove(요소)** : 리스트에서 처음으로 나오는 요소 제거
4. **리스트.pop()** : 리스트의 마지막 요소 삭제 후 마지막 요소 반환 
5. **리스트.sort(reverse=False)** : 리스트의 요소를 오름차순으로 정렬 (reverse=False는 오름차순(default), reverse=True는 내림차순)
6. **리스트.reverse()** : 리스트의 요소 순서를 역순으로 대치
7. **리스트.copy()** : 리스트 객체 복사  

내장함수 **del**
- 리스트 객체의 특정 요소를 삭제할 수 있는 함수
- 다른 시퀀스형인 문자열/튜플/range는 불변 객체이므로 삭제할 수 없음

In [86]:
li2 = [4, -1, 5, 6, 1, 3]

In [87]:
# append
li2.append(6)
print(li2)

# insert
li2.insert(0, 9)
print(li2)

# remove
li2.remove(5)
print(li2)

# pop
result1 = li2.pop()
print(result1)

# sort
result2 = li2
result2.sort(reverse=True)  # 내림차순
print(result2)

# reverse
result3 = li2
result3.reverse()
print(result3)

[4, -1, 5, 6, 1, 3, 6]
[9, 4, -1, 5, 6, 1, 3, 6]
[9, 4, -1, 6, 1, 3, 6]
6
[9, 6, 4, 3, 1, -1]
[-1, 1, 3, 4, 6, 9]

In [88]:
li3 = [5, 6, 1, 4]
print(li3)

del li3[2]
print(li3)

[5, 6, 1, 4]
[5, 6, 4]

리스트 객체는 가변형 객체이므로 할당 연산자 등으로 **단순히 변수에 할당할 경우 다른 변수에서 요소를 수정하면 원래의 리스트 객체도 수정**되기 때문에 이를 방지하기 위해 메소드 **copy()** 를 사용해야 함

In [91]:
li4 = [4, 5, 2, 4]

li4_cp = li4.copy()
print(li4_cp)

li4_cp[0] = 100
print(li4)
print(li4_cp)

[4, 5, 2, 4]
[4, 5, 2, 4]
[100, 5, 2, 4]

#### 딕셔너리 (Dictionary)
- 하나의 변수에 이름과 순서가 있는 여러 개의 자료를 동시에 저장하기 위한 데이터 타입
- 키(key)와 값(value)의 쌍으로 구성되어 있으며(해시 구조 형태), 딕셔너리는 iterable한 객체
- {key:value}의 방법으로 저장 가능하며 dict() 함수를 통해 빈 딕셔너리 생성(중괄호 {}도 가능)과 딕셔너리로 데이터 타입을 변환할 수 있음
- dict() 함수의 인자를 이용하여 dict(key=value)의 형태로 딕셔너리를 행성하는 것도 가능
<br>
- 키는 불변한 객체 타입만 허용되어 리스트 등은 키가 될 수 없음
- 키는 중복될 수 없기 때문에 동일한 키를 추가할 경우 기존의 키 값 대신 새로운 값이 덮어쓰기 됨

In [94]:
dic1 = {'A':1, 'B':2, 'C':3}
print(dic1)

dic2 = {4:'D', 5:'E', 6:'F'}
print(dic2)

dic3 = dict(G=(1, 2), H=8, I=9)
print(dic3)

{'A': 1, 'B': 2, 'C': 3}
{4: 'D', 5: 'E', 6: 'F'}
{'G': (1, 2), 'H': 8, 'I': 9}

In [95]:
# 딕셔너리에 키와 값 추가
dic1['Z'] = 99
print(dic1)

# 동일한 키&다른 값을 추가할 경우 값만 교체됨
dic3['H']=100
print(dic3)

{'A': 1, 'B': 2, 'C': 3, 'Z': 99}
{'G': (1, 2), 'H': 100, 'I': 9}

In [96]:
# 키로 값 조회 가능
print(dic3['H'])

100

#### 딕셔너리의 내장함수
- **del 딕셔너리[key]** : 딕셔너리에서 특정 키와 쌍인 값을 삭제

In [97]:
# del
del dic1['A']
print(dic1)

{'B': 2, 'C': 3, 'Z': 99}

#### 딕셔너리 타입의 주요 메소드
1. **딕셔너리.keys()** : 딕셔너리의 키로 구성된 리스트를 반환
2. **딕셔너리.values()** : 딕셔너리의 값으로 구성된 리스트를 반환
3. **딕셔너리.items()** : 딕셔너리의 키-값 쌍으로 구성된 리스트를 반환
4. **딕셔너리.update({key:value})** : 딕셔너리에 키-값 쌍으로 수정하거나 추가 (동일한 키가 있는 경우 수정, 없으면 추가)

In [98]:
dic4 = {'A':1, 'B':2, 'C':3}
dic4.keys()

dict_keys(['A', 'B', 'C'])

In [99]:
dic4.values()

dict_values([1, 2, 3])

In [100]:
dic4.items()

dict_items([('A', 1), ('B', 2), ('C', 3)])

In [101]:
dic4.update( {'D':99} )
dic4

{'A': 1, 'B': 2, 'C': 3, 'D': 99}

#### 집합 (set)
- 리스트와 같은 시퀀스형과 달리 순서가 없고 중복을 허용하지 않으며 불변한 객체 타입이므로 인덱싱이 불가하며 집합형 또한 iterable한 객체
- 중괄호({})로 저장 가능
- set() 함수를 통해 빈 집합(공집합) 생성과 집합으로 데이터 타입을 변환할 수 있음
- 집합혀에서 가능한 연산은 교집합/합집합/차집합과 같은 집합 연산

In [102]:
set1 = {1, 2, 3, 4}
set2 = {'D', 'A', 'T'}
set3 = {}
set4 = set()

print(set1)
print(set2)
print(set3)
print(set4)

{1, 2, 3, 4}
{'A', 'D', 'T'}
{}
set()

#### 집합 타입의 메소드
1. 집합.add(원소) : 집합에서 하나의 원소를 추가
2. 집합.update(원소) : 집합에서 여러 개의 원소를 추가
3. 집합1.union(집합2) : 집합1과 집합2의 합집합, 기호 | 로도 가능
4. 집합1.intersection(집합2) : 집합1과 집합2의 교집합, 기호 & 로도 가능
5. 집합1.difference(집합2) : 집합1과 집합2의 차집합, 기호 - 로도 가능

In [104]:
set5 = {2, 4, 5, 7, 8}
set6 = {4, 5}

# add
set5.add(12)
print(set5)

# update
set6.update({10, 11})
print(set6)

# union
print(set5.union(set6))

# intersection
print(set5.intersection(set6))

# difference
print(set5.difference(set6))

{2, 4, 5, 7, 8, 12}
{10, 11, 4, 5}
{2, 4, 5, 7, 8, 10, 11, 12}
{4, 5}
{8, 2, 12, 7}

#### 부울형 (Boolean)
- 참과 거짓을 나타내는 데이터 타입으로 파이썬에서는 True와 False로 나타남
- 논리 연산자나 비교 연산자의 결과 값에 대한 데이터 타입으로 사용됨
- bool() 함수를 통해 모든 데이터 타입을 부울형으로 변환 가능
- 숫자형은 0인 경우 False, 0이 아닌 경우 True
- 문자열은 문자가 없는 경우 False, 1개 이상의 문자가 있으면 True 반환
- 리스트/튜플/딕셔너리는 값이 없는 경우 False, 1개 이상의 값이 있으면 True 반환

In [105]:
a = True
b = False

print(bool(1), bool(0), bool())
print(bool('a'), bool(''))
print(bool(['a', 'b']), bool([]))
print(bool(('a', 'b')), bool(()))
print(bool({'a':1}), bool({}))
print(bool({1, 2}), bool(set()))

True False False
True False
True False
True False
True False
True False

#### 데이터 타입 확인 (type())
- type() 함수를 이용하면 데이터 타입 확인 가능

In [107]:
print(type(st))
print(type(li))
print(type(tu))
print(type(ran))
print(type(dic1))
print(type(set1))
print(type(a))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>

### 4절: 사용자 정의 함수

In [108]:
# 사용자 정의 함수 예시
def fun1(num) :
    return (num**2)

fun1(3)

9

In [109]:
def fun2(*args) :
    x = sum(*args)
    print("합계: ", x)
    
fun2([2, 3, 4, 5, 6])

합계:  20

In [110]:
def fun3(x, y) :
    print(x)
    print(y)
    def fun4(*fun3) : 
        sum = x + y
        print(x, "+", y, "=", sum)
    fun4(x, y)

fun3(4, 5)

4
5
4 + 5 = 9

### 5절 제어문
#### 조건문

In [111]:
x = 9
if x % 2 == 0 :
    print("X는 짝수")
elif x % 2 == 1 :
    print("X는 홀수")
else:
    ("정수를 입력해주세요")

X는 홀수

#### 반복문

In [113]:
for year in range(2020, 2025) :
    print("The year is ", year)

The year is  2020
The year is  2021
The year is  2022
The year is  2023
The year is  2024

#### while

In [114]:
year = 2020
while year <= 2025 : 
    print("The year is ", year)
    year = year + 1

The year is  2020
The year is  2021
The year is  2022
The year is  2023
The year is  2024
The year is  2025